<mat-list class="list-horizontal">

  <mat-list-item>
    <app-filter-category #valueTypeFilter
                         [categories]="this.valueTypeNames"
                         [name]="'Types'"
                         (filterChanged)="valueTypeFilterChanged($event)">
    </app-filter-category>
  </mat-list-item>

  <mat-list-item>
    <button mat-raised-button
            color="accent"
            (click)='clearFilter();'
            matTooltip="Clear all filters">Clear
      <mat-icon>filter_alt</mat-icon>
    </button>
  </mat-list-item>
</mat-list>


