.variant-dialog{
  height: 50vh;
  min-width: 40vw;
}

.variant-table{
  width: 100%;
}

.addVariantButton{
  background: white;
}

.variant-modal-close{
  float: right;
}

.variants-close-div{
  width: 90vw;
}

.variants-close-div{
  width: 10vw;
  float: top;

}

.mat-cell, .mat-footer-cell {
  word-wrap: break-word;
}




