.variant-dialog{
  min-height: 80vh;
  min-width: 60vw;
  font-size: 16px;
}

.variant-table{
  width: 100%;
}

.addVariantButton{
  background: white;
}

.variant-modal-close{
  float: right;
}

.variants-close-div{
  width: 90vw;
}

.variants-close-div{
  width: 10vw;
  float: top;
}

.cdk-overlay-pane{
  border-radius: 100px;
}

