<div mat-dialog-title>
  <button mat-dialog-close mat-icon-button class="variant-modal-close" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
  <div class="container" mat-dialog-title>
    <h2>Variant(s)</h2>
  </div>
</div>
<mat-dialog-content>
  <div class="variant-dialog">
    <mat-table mat-table [dataSource]='variantDataService.matDataSource'>
      <ng-container matColumnDef='guiId'>

        <mat-cell *matCellDef='let variant' id="guiId">
          <div>
            {{variant.guiId}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef='title'>

        <mat-cell *matCellDef='let variant'>
          <textarea type="text" matInput value="{{variant.title}}"
                 readonly="{{!variant.editable}}" name="title"
                    [(ngModel)]="variant.title" *ngIf="variant.editable" placeholder="Title"></textarea>
          <div *ngIf="!variant.editable">
            {{variant.title}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef='description'>
        <mat-cell *matCellDef='let variant'>
          <div class="description-wrapper">
            <textarea matInput type="text" value="{{variant.description}}"
                   readonly="{{!variant.editable}}" [(ngModel)]="variant.description" *ngIf="variant.editable"
                     placeholder="Description"></textarea>
            <div *ngIf="!variant.editable">
              {{variant.description}}
            </div>
          </div>
          <div class="options" *ngIf="!variant.archived">
            <button mat-icon-button *ngIf="variant.editable" name="save" (click)="save(variant);">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!variant.editable" name="archive" (click)="archive(variant)">
              <mat-icon>archive</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-row mat-row *matRowDef="let variant; columns: displayedColumns;" class="archieved-{{variant.archived}}"></mat-row>
    </mat-table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="addVariantButton">
    <button mat-icon-button aria-label="Add Variant"  (click)="addVariant()" tabindex="-1">
      <mat-icon>add</mat-icon>
    </button>
    Variant
  </div>

</mat-dialog-actions>
