<div mat-dialog-title>
  <button mat-dialog-close mat-icon-button class="variant-modal-close" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
  <div class="container" mat-dialog-title>
    <h2>Variant(s)</h2>
  </div>
</div>
<mat-dialog-content>
  <div class="variant-dialog">
    <mat-table mat-table [dataSource]='matDataSource'>
      <ng-container matColumnDef='guiId'>
        <mat-cell *matCellDef='let variant' id="guiId">
          <div>
            {{variant.guiId}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef='title'>
        <mat-cell *matCellDef='let variant'>
          <input type="text" matInput value="{{variant.title}}"
                 readonly="{{!variant.editable}}" name="title"
                 [(ngModel)]="variant.title" *ngIf="variant.editable" autofocus tabindex="0">
          <div *ngIf="!variant.editable">
            {{variant.title}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef='description'>
        <mat-cell *matCellDef='let variant'>
          <div class="description-wrapper">
            <input matInput type="text" value="{{variant.description}}"
                   readonly="{{!variant.editable}}" [(ngModel)]="variant.description" *ngIf="variant.editable"
                   tabindex="1">
            <div *ngIf="!variant.editable">
              {{variant.description}}
            </div>
          </div>
          <div class="options">
            <button mat-icon-button *ngIf="variant.editable" name="save" (click)="save(variant);">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!variant.editable" name="archive">
              <mat-icon>archive</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-icon-button aria-label="Add Variant" class="addVariantButton" (click)="addVariant()" tabindex="-1">
    <mat-icon>add</mat-icon>
    Variant
  </button>
</mat-dialog-actions>
