<div class="container">
  <div mat-dialog-title>
    <button mat-dialog-close mat-icon-button class="dialog-close">
      <mat-icon>close</mat-icon>
    </button>

    <div class="title-container" mat-dialog-title>
      <h2 *ngIf="!isEditingAnalysis && !analysis.isTemplate">Create Analysis</h2>
      <h2 *ngIf="!isEditingAnalysis && analysis.isTemplate">Create Template</h2>
      <h2 *ngIf="isEditingAnalysis && !analysis.isTemplate">Edit Analysis</h2>
      <h2 *ngIf="isEditingAnalysis && analysis.isTemplate">Edit Template</h2>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div fxLayout="row">
        <div fxLayout="column" class="left-column">
          <mat-checkbox *ngIf="!isEditingAnalysis"
                        [(ngModel)]="analysis.isTemplate"
                        name="analysisIsTemplate">
            This is a Template
          </mat-checkbox>

          <mat-checkbox *ngIf="!isEditingAnalysis"
                        [(ngModel)]="useTemplate"
                        name="useTemplate">
            Use Template
          </mat-checkbox>

          <mat-form-field *ngIf="useTemplate">
            <mat-label>Template</mat-label>
            <mat-select [(ngModel)]="template"
                        name="selectedTemplate">
              <ng-container *ngFor="let analysis of analysisData.analyses">
                <mat-option *ngIf="analysis.isTemplate" [value]="analysis"
                            (onSelectionChange)="template=analysis">
                  {{analysis.name}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="right-column">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput
                   [(ngModel)]="analysis.name"
                   (change)="updateAnalysis(analysis)"
                   name="analysisName"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput
                   [(ngModel)]="analysis.description"
                   (change)="updateAnalysis(analysis)"
                   name="analysisDescription"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Image Url</mat-label>
            <input matInput
                   [(ngModel)]="analysis.imageUrl"
                   (change)="updateAnalysis(analysis)"
                   name="analysisImageUrl"/>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" class="action-container">
        <mat-checkbox [(ngModel)]="goToAnalysis"
                      name="goToAnalysis">
          Open Analysis when I'm done
        </mat-checkbox>

        <div mat-dialog-actions>
          <button class="submit-button"
                  mat-raised-button
                  type="submit">
            <div *ngIf="!isEditingAnalysis && !analysis.isTemplate">Create Analysis</div>
            <div *ngIf="!isEditingAnalysis && analysis.isTemplate">Create Template</div>
            <div *ngIf="isEditingAnalysis">Done</div>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
