<div class="container">
  <div mat-dialog-title>
    <button mat-dialog-close mat-icon-button class="dialog-close">
      <mat-icon>close</mat-icon>
    </button>

    <div class="title-container" mat-dialog-title>
      <h2 *ngIf="!isEditingAnalysis && !analysis.isTemplate">{{ 'ANALYSIS_DIALOG.CREATE_ANALYSIS' | translate }}</h2>
      <h2 *ngIf="!isEditingAnalysis && analysis.isTemplate">{{ 'ANALYSIS_DIALOG.CREATE_TEMPLATE' | translate }}</h2>
      <h2 *ngIf="isEditingAnalysis && !analysis.isTemplate">{{ 'ANALYSIS_DIALOG.EDIT_ANALYSIS' | translate }}</h2>
      <h2 *ngIf="isEditingAnalysis && analysis.isTemplate">{{ 'ANALYSIS_DIALOG.EDIT_TEMPLATE' | translate }}</h2>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div fxLayout="row">
        <div fxLayout="column" class="column" [ngClass]="{'sole-column' : isEditingAnalysis}">
          <mat-form-field>
            <mat-label>{{ 'ANALYSIS_DIALOG.ANALYSIS_NAME' | translate }}</mat-label>
            <input matInput
                   [(ngModel)]="analysis.name"
                   (change)="updateAnalysis(analysis)"
                   name="analysisName"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'ANALYSIS_DIALOG.ANALYSIS_DESCRIPTION' | translate }}</mat-label>
            <input matInput
                   [(ngModel)]="analysis.description"
                   (change)="updateAnalysis(analysis)"
                   name="analysisDescription"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'ANALYSIS_DIALOG.ANALYSIS_IMAGE_URL' | translate }}</mat-label>
            <input matInput
                   [(ngModel)]="analysis.imageUrl"
                   (change)="updateAnalysis(analysis)"
                   name="analysisImageUrl"/>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="column right-column" *ngIf="!isEditingAnalysis">
          <div>
            <mat-checkbox *ngIf="!isEditingAnalysis"
                          [(ngModel)]="analysis.isTemplate"
                          name="analysisIsTemplate">
              {{ 'ANALYSIS_DIALOG.IS_TEMPLATE' | translate }}
            </mat-checkbox>
          </div>

          <div>
            <mat-checkbox *ngIf="!isEditingAnalysis"
                          [(ngModel)]="useTemplate"
                          matTooltip="{{ 'ANALYSIS_DIALOG.DEEP_COPY_INFO' | translate }}"
                          name="useTemplate">
              {{ 'ANALYSIS_DIALOG.USE_TEMPLATE' | translate }}
            </mat-checkbox>
          </div>

          <div>
            <mat-form-field *ngIf="useTemplate">
              <mat-label>{{ 'ANALYSIS_DIALOG.TEMPLATE' | translate }}</mat-label>
              <mat-select [(ngModel)]="template"
                          name="selectedTemplate">
                <ng-container *ngFor="let analysis of analysisData.analyses">
                  <mat-option *ngIf="analysis.isTemplate" [value]="analysis"
                              (onSelectionChange)="template=analysis">
                    {{analysis.name}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" class="action-container">
        <div mat-dialog-actions>
          <button [ngClass]="{'fixed-size-button': !isEditingAnalysis}"
                  mat-raised-button
                  type="submit">
            <div *ngIf="!isEditingAnalysis && !analysis.isTemplate">{{ 'ANALYSIS_DIALOG.CREATE_ANALYSIS' | translate }}</div>
            <div *ngIf="!isEditingAnalysis && analysis.isTemplate">{{ 'ANALYSIS_DIALOG.CREATE_TEMPLATE' | translate }}</div>
            <div *ngIf="isEditingAnalysis">{{ 'ANALYSIS_DIALOG.DONE_EDITING' | translate }}</div>
          </button>
        </div>

        <mat-checkbox [(ngModel)]="goToAnalysis"
                      name="goToAnalysis">
          {{ 'ANALYSIS_DIALOG.OPEN_WHEN_DONE' | translate }}
        </mat-checkbox>
      </div>
    </div>
  </form>
</div>
