p {
  font-size: 80%;
  margin-bottom: 0;
}

.highlight-bar-container {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  width: 100%;
}

mat-list.list-horizontal {
  padding: 8px 0;

  .mat-list-item {
    vertical-align: middle;
    display: inline-block;
    height: auto;

    .highlight-text {
      margin-right: 20px;
      height: 33px;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 100%;
    }
  }
}

.search-icon {
  float: right;
  margin-top: -35px;
  margin-right: 10px;
  color: black;
}
