@mixin defaultStyle() {
  .mat-tab-label {
    min-width: 5% !important;
    padding: 1%;
    background-color: transparent;
    color: black;
    font-weight: 700;
  }

  .screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1%;
    height: 1%;
    overflow: hidden;
  }

  .highlight {
    background-color: rgb(215, 215, 215);
  }
}

