

p {
  font-size: 80%;
  margin-bottom: 0;
}

.category-filter-container {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  min-width: 200px;
}

  .mat-list.list-horizontal {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;

    .mat-list-item {
      vertical-align: middle;
      display: inline-block;
      height: inherit;
      width: auto;
      .mat-list-item-rippel{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        pointer-events: none;
      }
    }



    .highlight-text {
      margin-right: -30px;
      width: 300px;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 100%;
    }

    .search-icon {
      margin-right: -10px;
    }
  }

.filter-wrapper {
  mat-list.list-vertical {
    padding: 0;
    height: 100%;
    .mat-focus-indicator{
      height: 0px;
    }


    .mat-list-item {
      margin-right: -10px;
      margin-bottom: auto ;
      margin-top: auto;
      display: inline;
      .mat-list-item-content{
        box-sizing: border-box;
        height: inherit;
      }

      .dropdown {
        width: 150px;
        margin-bottom: -20px;
        margin-top: 5px;
        margin-right: -10px;
      }
    }


  }
}


