<mat-list class="list-horizontal">
  <mat-list-item>
    <app-search-bar (searchTextChanged)="highlightTextChange($event)"></app-search-bar>
  </mat-list-item>
  <mat-list-item>
    <div>
      <p>Ebene</p>
    </div>
    <div class="category-filter-container">
      <mat-select class="level" [(value)]="preselect" id="level">
        <mat-option *ngFor="let level of levels" [value]="level" (onSelectionChange)="levelChange($event)">
          {{level.value}}
        </mat-option>
      </mat-select>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div>
      <p>Priorität</p>
    </div>
    <div class="category-filter-container-prior">
      <app-stakeholder-prio [(prio)]="prio" class="filter prio-filter" [editable]="true"
                            (prioChange)="prioChange($event)"></app-stakeholder-prio>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div>
      <p>Impact</p>
    </div>
    <div class="category-filter-container-impact">
      <app-stakeholder-impact [editable]="true" (impactChange)="impactChange($event)"></app-stakeholder-impact>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="resetFilter" >
      <button mat-raised-button color="accent" class="resetFilter" (click)="resetFilter()"> Clear
        <mat-icon>filter_alt</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>


