<div class="value-dialog">
  <button mat-dialog-close mat-icon-button class="value-modal-close">
    <mat-icon>close</mat-icon>
  </button>
  <div class="container" mat-dialog-title>
    <h2>Values bearbeiten</h2>
  </div>
  <mat-dialog-content>
    <div class="card-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Social Value</mat-panel-title>
        </mat-expansion-panel-header>
          <mat-table mat-table [dataSource]='valueDataService.matDataSourceSocial'>
            <ng-container matColumnDef='name'>
              <mat-header-cell *matHeaderCellDef>Titel</mat-header-cell>
              <mat-cell *matCellDef='let value'>
                <textarea class="inputField" matInput type="text" value="{{value.name}}"
                       [(ngModel)]="value.name" *ngIf="value.editable"
                       id="{{value.id}}_name" tabindex="0" placeholder="Titel"></textarea>
                <div *ngIf="!value.editable">
                  {{value.name}}
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
              <mat-cell *matCellDef='let value'>
                <textarea class="inputField" matInput type="text" value="{{value.description}}"
                       [(ngModel)]="value.description" *ngIf="value.editable"
                       id="{{value.id}}_description" tabindex="1" placeholder="Beschreibung"></textarea>
                <div *ngIf="!value.editable">
                  {{value.description}}
                </div>
                <div class="options" *ngIf="!value.socialValuearchived">
                  <button mat-icon-button *ngIf="value.editable" name="save" (click)="saveSocialValue(value);">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="!value.editable" name="delete" (click)="archiveValue(value)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" class="archivedField-{{row.archived}}"></mat-row>
          </mat-table>
        <button mat-icon-button aria-label="Add Value" class="addSocialValueButton" (click)="addSocialValue()"> <!--tabindex="-1"-->
          <mat-icon>add</mat-icon> Social Value anlegen
        </button>
        </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Economic Value</mat-panel-title>
        </mat-expansion-panel-header>
          <mat-table mat-table [dataSource]='valueDataService.matDataSourceEconomic' class="variant-table">
            <ng-container matColumnDef='name'>
              <mat-header-cell *matHeaderCellDef>Titel</mat-header-cell>
              <mat-cell *matCellDef='let value'>
                <textarea class="inputField" matInput type="text" value="{{value.name}}"
                       [(ngModel)]="value.name" *ngIf="value.editable"
                       id="{{value.id}}__name" tabindex="2" placeholder="Titel"></textarea>
                <div *ngIf="!value.editable">
                  {{value.name}}
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
              <mat-cell *matCellDef='let value'>
                <textarea class="inputField" matInput type="text" value="{{value.description}}"
                       [(ngModel)]="value.description" *ngIf="value.editable"
                       id="{{value.id}}__description" tabindex="3" placeholder="Beschreibung"></textarea>
                <div *ngIf="!value.editable">
                  {{value.description}}
                </div>
                <div class="options" *ngIf="!value.archived">
                  <button mat-icon-button *ngIf="value.editable" name="save" (click)="saveEconomicValue(value);">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="!value.editable" name="delete" (click)="archiveValue(value)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let value; columns: displayedColumns;"></mat-row>
          </mat-table>
        <button mat-icon-button aria-label="Add Value" class="addEconomicValueButton" (click)="addEconomicValue()"> <!--tabindex="-1"-->
          <mat-icon>add</mat-icon> Economic Value anlegen
        </button>
      </mat-expansion-panel>
    </div>
  </mat-dialog-content>
</div>
