.auth-remaining-container {
  position: fixed;
  right: 25px;
  bottom: 40px;
  z-index: 1;

  .remaining-time-text {
    font-size: 150%;
    margin-bottom: -27px;
    width: 40px;
  }

  mat-icon {
    font-size: 30px;
    cursor: pointer;
    margin-left: -40px;
  }
}
