<header class="header">

  <a routerLink="/">
    <img src="assets/svg/evatool-logo-combined-white-text.svg" alt="ETHIK TOOL">
  </a>

  <div fxLayout="row">

    <div *ngIf="showHighlightSearch"
         class="highlight-search-container">
      <app-highlight-search (highlightTextChanged)="highlightTextChange($event)"></app-highlight-search>
    </div>

    <div class="user-menu">
      <div fxLayout="row">
        <div class="current-user">
          {{authService.username}}
        </div>

        <button mat-icon-button
                [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>
        </button>
      </div>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngIf="authService.authenticated"
                (click)="authService.logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>{{ 'HEADER.LOGOUT' | translate }}</span>
        </button>

        <button [matMenuTriggerFor]="language"
                mat-menu-item
                (click)="navigateToSettings()">
          <mat-icon>language</mat-icon>
          <span>{{ 'HEADER.LANGUAGE' | translate }}</span>
        </button>

        <mat-menu #language="matMenu">
          <ng-container *ngFor="let lang of languageService.languages; let i = index">
            <button mat-menu-item (click)="languageService.changeLanguage(lang, true)">{{languageService.getLanguageName(lang)}}</button>
          </ng-container>
        </mat-menu>

        <!--
        <button mat-menu-item
                (click)="navigateToSettings()">
          <mat-icon>settings</mat-icon>
          <span>{{ 'HEADER.SETTINGS' | translate }}</span>
        </button>
        -->
      </mat-menu>
    </div>

  </div>

</header>
