<header class="header">

  <a routerLink="/">
    <h1> ETHIK TOOL </h1>
  </a>

  <button mat-icon-button
          *ngIf="authService.authenticated"
          [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <label mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>Logged in as {{authService.username}}</span>
    </label>
    <button mat-menu-item
            (click)="authService.logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

</header>
