<header class="header">

  <a routerLink="/">
    <h1> ETHIK TOOL</h1>
  </a>

  <nav class="container" id="action-container">
    <ul>
      <li>
        <div class="vl"></div>
      </li>
      <li>
        ?
      </li>
      <li>
        <mat-icon id="save-button">save</mat-icon>
      </li>
      <li>
        <mat-icon id="clear-button">clear</mat-icon>
      </li>
    </ul>
  </nav>

  <nav class="container" id="user-container">
    <ul>
      <li>
        <mat-icon>search</mat-icon>
      </li>
      <li>
        ?
      </li>
      <li>
        Profil Bild
      </li>
    </ul>
  </nav>

</header>