<div class="example-table-container">
  <table mat-table [dataSource]="tableDatasource" matSort class="example-table ">
    <caption></caption>

    <ng-container matColumnDef="uniqueString" sticky>
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header matSortActive="uniqueString" matSortDirection="desc">ID</th>
      <td mat-cell *matCellDef="let element">
        <div [innerHTML]="element.uniqueString | highlightSearch: ''">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="requirementDescription" sticky>
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Requirements</th>
      <td mat-cell *matCellDef='let element'>
        <div class="description-wrapper">
          <div class="description-container" (click)="element.editable = true" (mouseout)="element.editable = false; descriptionChange(element)">

            <div *ngIf="element.editable">
             <textarea matInput cdkTextareaAutosize [(ngModel)]="element.requirementDescription"
                    placeholder="Describe the Requirement..."></textarea>
            </div>
            <div *ngIf="!element.editable" [innerHTML]="element.requirementDescription | highlightSearch: 'generate'">
            </div>
          </div>
          <div class="delete-button-container">
            <button mat-fab (click)="deleteImpact(element)" matTooltip="Delete Impact" matTooltipHideDelay="100"
                    matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="variantsTitle" sticky>
      <th id="title-col" mat-header-cell *matHeaderCellDef mat-sort-header> Variant(s) <span style="font-size: 18px;"
                                                                                             class="material-icons"
                                                                                             (click)="openDialog()">info</span>
      </th>
      <td mat-cell (dblclick)="checkAchrived(element.variantsTitle)"
          [matTooltip]="(element.variantsTitle.length>0 && element.variantsTitle[0].archived) ? 'Verwendete Variante ('+ element.variantsTitle[0].variantsTitle +') ist archiviert' : '' "
          *matCellDef='let element'
          [ngClass]="{'archived' : (element.variantsTitle.length>0 && element.variantsTitle[0].archived)}">
        <mat-form-field>
          <mat-select matNativeControl [ngModel]="element.variantsTitle[0]?.entityId"
                      (selectionChange)="variantsChange(element, $event)">
            <mat-select-trigger>
              <div [innerHTML]="element.variantsTitle[0]?.variantsTitle | highlightSearch: 'e'">
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let stk of variantsSoureces" [value]="stk.entityId">
              <div [innerHTML]="stk.variantsTitle | highlightSearch: 'e'">
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="values" sticky>
      <th id="values-col" mat-header-cell *matHeaderCellDef mat-sort-header> Value</th>
      <td mat-cell *matCellDef="let element">
        <div [innerHTML]="concatDimension(element) | highlightSearch: ''">
        </div>
    </ng-container>

    <ng-container *ngFor="let impact of impactSoureces" matColumnDef="{{impact.id}}">
      <th id="sources-col" mat-header-cell matTooltip="{{impact.description}}" *matHeaderCellDef mat-sort-header
          [width]="50" style="min-width: 50px;">
        {{impact.uniqueString}} </th>
      <td mat-cell *matCellDef="let element"
          [ngClass]="{'positiv' : isPositiv(element,impact),'negativ' : isNegativ(element,impact)}"
          (dblclick)="clickFunction(element,impact)">
        <div *ngIf="show(element, impact)" class="impact-slider-container">
          <app-impact-slider [isRisk]="impact.value<0" [isGoal]="impact.value>0"
                             [minvalue]="impact.value>0?-1:impact.value" [maxvalue]="impact.value<0?1:impact.value"
                             [value]="valueForCell(element, impact)"
                             (sliderValueChange)="valueChange(element, impact, $event)">
          </app-impact-slider>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (keypress)="testKeyPress($event)"
        (click)="getSelectedRequirment(row)" [ngClass]="{ 'selected-row' : row.selected }"></tr>
  </table>
</div>
