<!--<div id="add-impact-button-div">-->
<!--  <button id="add-requirement-button" (click)="addRequirements()">-->
<!--    <p style="font-size:180%;">+</p>-->
<!--  </button>-->
<!--</div>-->

<div class="example-table-container">
  <table mat-table [dataSource]="tableDatasource" matSort class="example-table ">

    <ng-container matColumnDef="uniqueString" sticky>
      <th mat-header-cell scope="col" *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.uniqueString}} </td>
    </ng-container>

    <ng-container matColumnDef="requirementDescription" sticky>
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Requirements</th>
<!--      <td mat-cell *matCellDef="let element"> {{element.requirementDescription}} </td>-->
      <td mat-cell *matCellDef='let element'>
        <div class="description-wrapper">
          <div class="description-container">
          <textarea matInput cdkTextareaAutosize [(ngModel)]="element.requirementDescription" placeholder="Describe the Requirement..."
                    (change)="descriptionChange(element, $event)"></textarea>
          </div>
          <div class="delete-button-container">
            <button mat-fab (click)="deleteImpact(element)" matTooltip="Delete Impact" matTooltipHideDelay="100"
                    matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

<!--    <ng-container matColumnDef="variantsTitle" sticky>-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variant(s) <span style="font-size: 18px;" class="material-icons" (click)="openDialog()">info</span></th>-->
<!--      <td mat-cell *matCellDef="let element">{{concatVariants(element)}}</td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="variantsTitle" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Variant(s) <span style="font-size: 18px;" class="material-icons" (click)="openDialog()">info</span></th>
      <td mat-cell (dblclick)="checkAchrived(element.variantsTitle)" [matTooltip]="(element.variantsTitle.length>0 && element.variantsTitle[0].archived) ? 'Verwendete Variante ('+ element.variantsTitle[0].variantsTitle +') ist archiviert' : '' " *matCellDef='let element' [ngClass]="{'archived' : (element.variantsTitle.length>0 && element.variantsTitle[0].archived)}">
        <mat-form-field>
          <mat-select matNativeControl [ngModel]="element.variantsTitle[0]?.entityId" (selectionChange)="variantsChange(element, $event)">
            <mat-option *ngFor="let stk of variantsSoureces" [value]="stk.entityId">
              {{stk.variantsTitle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="values" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
      <td mat-cell *matCellDef="let element">{{concatDimension(element)}}</td>
    </ng-container>

    <ng-container *ngFor = "let impact of impactSoureces" matColumnDef="{{impact.id}}">
      <th mat-header-cell matTooltip="{{impact.description}}" *matHeaderCellDef mat-sort-header [width]="50" style="min-width: 50px;">{{impact.description}}</th>
      <td mat-cell  *matCellDef="let element"
          [ngClass]="{'positiv' : isPositiv(element,impact),'negativ' : isNegativ(element,impact)}"
          (dblclick)="clickFunction(element,impact)">{{checkValue(element,impact)}}</td>
    </ng-container>


    <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (keypress)="testKeyPress($event)" (click)="getSelectedRequirment(row)" [ngClass]="{ 'selected-row' : row.selected }"></tr>
  </table>
</div>
