div{
  padding:25px;
  max-height: 800px;
}

table {
  width: 100%;
}

input{

}
.mat-header-cell{
  text-align: center;
}

.mat-column-ID{
  text-align: left;
  width:50px;
  min-width:50px;
}

.mat-column-Requirements{
  text-align: left;
  min-width:500px;
}
.mat-column-Variants{
  text-align: left;
  width:100px;
  min-width:100px;
}
.mat-column-Dimension{
  text-align: left;
  width:100px;
  min-width:100px;
}

.positiv{
  background: limegreen;
  text-align: center;
}

.negativ{
  background: red;
  text-align: center;
}
