div{
  padding:25px;
  max-height: 800px;
}

table {
  width: 100%;
}


th{
  border-bottom: 2px solid black;
}

td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 440px;
  overflow: auto;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
table{
  border-collapse: collapse;
}

.mat-header-cell{
  text-align: center;
}

.mat-column-ID{
  text-align: left;
  width:50px;
  min-width:50px;
}

.mat-column-Requirements{
  text-align: left;
  min-width:500px;
}
.mat-column-Variants{
  text-align: left;
  width:100px;
  min-width:100px;
}
.mat-column-Dimension{
  text-align: left;
  width:100px;
  min-width:100px;
}

.positiv{
  background: limegreen;
  text-align: center;
}

.negativ{
  background: red;
  text-align: center;
}
