<div class="content-container">
  <h1>
    Datenschutzerklärung
  </h1>

  <p>
    Rechtsgrundlage für die Datenverarbeitung ist Artikel 6 Abs. 1 lit. a), b), c) und f) DSGVO.
    Wir freuen uns über Ihr Interesse an unserer Webseite. Der Schutz Ihrer Privatsphäre ist für uns sehr wichtig.
    Nachstehend informieren wir Sie ausführlich über den Umgang mit Ihren Daten.
  </p>

  <p>
    Die Benutzung dieser Website und das Herunterladen von Daten erfolgt auf eigene Gefahr. Die User Interface Design
    GmbH und die Technische Hochschule Köln übernehmen keine Verantwortung für eventuell hieraus entstehende Schäden,
    wie beispielsweise an Datenbeständen und Hard- oder Software des Benutzers.
  </p>

  <p>
    Des Weiteren behalten sich die User Interface Design GmbH und die Technische Hochschule Köln das Recht vor,
    jederzeit Änderungen oder Ergänzungen der bereitgestellten Informationen vorzunehmen.
  </p>

  <p>
    Die Bereitstellung der Daten ist nicht gesetzlich oder vertraglich vorgeschrieben bzw. für einen Vertragsabschluss
    erforderlich. Sie sind daher nicht verpflichtet, uns personenbezogene Daten bereitzustellen.
  </p>

  <p>
    Die Verwendung von Cookies hilft uns dabei, unsere Webseite und deren Nutzerfreundlichkeit stetig zu verbessern.
    In
    diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der Daten nach Artikel 6 Abs.1 lit. f)
    DSGVO.
  </p>

  <p>
    Wir weisen Sie auf Ihr Auskunftsrecht, Ihr Recht auf Berichtigung, Ihr Recht auf Löschung, Ihr Recht auf
    Einschränkung der Verarbeitung sowie Ihr Recht auf Datenübertragbarkeit (vgl. Artikel 15 bis Artikel 18 und
    Artikel
    20 DSGVO) hin. Zur Geltendmachung dieser Rechte können Sie sich auch an unseren unten genannten
    Datenschutzbeauftragten wenden.
  </p>

  <p>
    Hinweisen möchten wir Sie auch auf die Möglichkeit einer Beschwerde gegenüber der unten genannten zuständigen
    Datenschutzbehörde.
  </p>

  <p>
    Sie können Ihre erteilte Einwilligung per E-Mail an uns widerrufen, ohne dass die Rechtsmäßigkeit der aufgrund der
    Einwilligung bis zum Widerruf erfolgten Verarbeitung berührt wird. Sofern keine handels- oder steuerrechtlichen
    Aufbewahrungslichten bestehen, werden Ihre personenbezogenen Daten gelöscht. Sie erhalten eine Bestätigung
    hierüber.
  </p>

  <p>
    Die Kontaktdaten unseres Datenschutzbeauftragten lauten:
  </p>

  <p>
    RA Kai Schützle <br>
    Schützle Rechtsanwaltsgesellschaft mbH <br>
    Gutbrodweg 6/3 <br>
    74074 Heilbronn <br>
    fon: +49 (0)7131 12 08 73 00 <br>
    fax: +49 (0)7131 12 08 73 99 <br>
    E-Mail: datenschutz@uid.com
  </p>

  <p>
    Die Kontaktdaten der Aufsichtsbehörde für den Datenschutz lauten:
  </p>

  <p>
    Der Landesbeauftragte für den Datenschutz und die Informationsfreiheit <br>
    Königstrasse 10 a <br>
    70173 Stuttgart <br>
    fon: +49 (0)711 61 55 41 0 <br>
    fax: +49 (0)711 61 55 41 15 <br>
    E-Mail: poststelle@lfdi.bwl.de
  </p>
</div>
