mat-list.list-horizontal {
  .mat-list-item {
    vertical-align: bottom;
    display: inline-block;
    height: auto;
    width: auto;

    button {
      margin-left: -20px;
      margin-bottom: 8px;
    }
  }
}

mat-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}
