.search-bar-container {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-top: 3%;
  margin-left: 5%;
}

mat-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}
