<mat-list class="list-horizontal">
  <mat-list-item>
    <app-search-bar (searchTextChanged)="highlightTextChange($event)"></app-search-bar>
  </mat-list-item>
  <mat-list-item>
    <app-column-category-filter #stakeholderFiler
                                [categories]="stakeholderNames"
                                [name]="'Stakeholder'"
                                (filterChanged)="stakeholderFilterChanged($event)">
    </app-column-category-filter>
  </mat-list-item>
  <mat-list-item>
    <app-column-category-filter #dimensionFilter
                                [categories]="dimensionNames"
                                [name]="'Dimensions'"
                                (filterChanged)="dimensionFilterChanged($event)">
    </app-column-category-filter>
  </mat-list-item>
  <mat-list-item>
    <app-column-slider-filter class="filter-slider" (filterChanged)="valueFilterChanged($event)">
    </app-column-slider-filter>
  </mat-list-item>

  <mat-list-item>
    <button mat-raised-button color="accent" (click)='clickClear()' matTooltip="Clear all filters"
      matTooltipHideDelay="100" matTooltipPosition="above">Clear
      <mat-icon>filter_alt</mat-icon>
    </button>
  </mat-list-item>

</mat-list>
