<mat-list>
  <mat-list-item>
    <div class="search-bar-container">
      <app-search-bar (searchTextChanged)="highlightTextChange($event)"></app-search-bar>
    </div>
  </mat-list-item>
  <mat-list-item>
    <app-column-category-filter [categories]="stakeholderNames"
                                (filterChanged)="stakeholderFilterChanged($event)">
    </app-column-category-filter>
  </mat-list-item>
  <mat-list-item>
    <app-column-category-filter [categories]="dimensionNames"
                                (filterChanged)="dimensionFilterChanged($event)">
    </app-column-category-filter>
  </mat-list-item>
  <mat-list-item>
    <app-column-slider-filter (filterChanged)="valueFilterChanged($event)"></app-column-slider-filter>
  </mat-list-item>
</mat-list>
