<div>
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center" animationDuration="500ms">
    <mat-tab label="Impact Module">
      <app-impact-main></app-impact-main>
    </mat-tab>
    <mat-tab label="Analysis Module">
      <app-analysis-main></app-analysis-main>
    </mat-tab>
    <mat-tab label="Requirement Module">
      <app-requirement-main></app-requirement-main>
    </mat-tab>
    <mat-tab label="Variant Module">
      <app-variant-main></app-variant-main>
    </mat-tab>
    <mat-tab label="Dashboard">
      <app-dashboard-main></app-dashboard-main>
    </mat-tab>
  </mat-tab-group>
</div>