mat-list.list-horizontal {
  padding: 0;

  .mat-list-item {
    margin-right: -20px;
    vertical-align: middle;
    display: inline-block;
    height: auto;
    width: auto;

    .slider {
      width: 150px;
    }

    .dropdown {
      width: 150px;
    }
  }
}
