<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    .material-icons.md-48 { font-size: 48px; }
  </style>
</head>

<head><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
    .material-icons.md-48 { font-size: 48px; }
  </style>
</head>

<!--container-->
<!--left-->
<div id="left"><!--linker Bereich-->
  <div>
    <button mat-raised-button (click)="openValueDialog()" class="valueButton">+ Edit values </button>
  </div>
  <br>
  <div>
    <button mat-raised-button (click)="openDialog()" class="createAnalysisButton">+ New Analysis</button>
  </div>
</div>

<!--cards-->
<!--right-->
<div id="right"><!--rechter Bereich-->

  <div class="headertitle">All analysis</div>
  <hr style="width:50%; margin: auto;">
  <div class="content-wrapper">
    <div *ngFor="let analysis of analysisArray;" class="news-card" (click)="analysisClick(analysis)">
      <img src="{{analysis.img}}" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">{{analysis.title}}</h2>

        <i class="material-icons settings" tabindex="-1">settings</i>


        <div class="news-card__post-date">{{"last edit "}} {{analysis.lastUpdate}}</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">{{analysis.description}}</p>
          <a class="news-card__read-more" >spectate <i class="fas fa-long-arrow-alt-right" ></i></a>
          <button class="editButton" type="submit" id="edit-button">Edit</button>
        </div>
      </div>
    </div>

  </div>

</div>

