
.mat-table {
  width: 100%;
  max-width: 100%;
  word-break: normal;

  .description-wrapper {
    display: table-cell;
    text-align: left;
    width: 100%;
    padding-right: 5%;
  }

  .options {
    display: none;
    margin-right: 0;
  }

  .mat-row:hover {
    .options {
      vertical-align: middle;
      text-align: right;
      display: contents;
    }
  }

  .mat-column-title {
    width: 25%;
    min-width: 25%;
    max-width: 25%;


  }

  .mat-column-guiId {
    width: 10%;
    min-width: 10%;
    max-width: 10%;

  }

  .mat-column-description {
    width: 65%;

  }

  .selected{
    background-color: lightyellow;
  }

}
