<div id="floating-filter-form" class="floating lifted" appClickOutside (clickOutside)="setInvisible()">
  <div id="visibility-wrapper" (click)="$event.stopPropagation()" [hidden]="!isVisible">
    <div id="filter-header-text" class="filter-header">{{name}} Filter</div>
    <mat-list *ngFor="let category of categories">
      <mat-list-item>
        <mat-checkbox (change)="updateFilterValues($event)" value="{{category}}">{{category}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </div>
</div>
