ul {
  text-align: left;
  list-style: none;
  padding: 5px;
}

.lifted {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-header {
  font-size: 12px;
  text-align: left;
  padding: 5px;
  text-transform: uppercase;
  text-decoration:none;
}
