<div fxLayout="column">
  <div fxLayout="column" class="analysis-ui">
    <button mat-raised-button
            (click)="openAnalysisDialog(analysisData.createDefaultAnalysis())"
            class="new-analysis-button">{{ 'HOME.NEW_ANALYSIS' | translate }}
    </button>

    <mat-form-field class="analysis-name-filter">
      <mat-label>{{ 'HOME.SEARCH_ANALYSIS_NAME_INCLUDES' | translate }}</mat-label>
      <input matInput
             [(ngModel)]="analysisNameFilter"
             (change)="updateData(analysisData.analyses)"/>
    </mat-form-field>

    <div fxLayout="row" class="analysis-is-template-filter">
      <mat-checkbox id="show-analyses"
                    [(ngModel)]="showAnalyses"
                    matTooltip="{{ 'HOME.SHOW_ANALYSES' | translate }}">
        {{ 'COMMON.ENTITY.ANALYSES' | translate }}
      </mat-checkbox>

      <mat-checkbox id="show-templates"
                    [(ngModel)]="showTemplates"
                    matTooltip="{{ 'HOME.SHOW_TEMPLATES' | translate }}">
        {{ 'HOME.TEMPLATES' | translate }}
      </mat-checkbox>
    </div>

    <div fxLayout="row" class="analysis-sort-by-container">
      <div class="analysis-sort-by-text">
        {{ 'HOME.TEMPLATE_ANALYSES_ORDER' | translate }}
      </div>
      <mat-button-toggle-group class="analysis-sort-by-buttons" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="desc"
                           matTooltip="{{ 'HOME.SHOW_TEMPLATES_THEN_ANALYSES' | translate }}"
                           (change)="sortByIsTemplateAsc=false; updateData(analysisData.analyses)"
                           [checked]="!sortByIsTemplateAsc">
          <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="asc"
                           matTooltip="{{ 'HOME.SHOW_ANALYSES_THEN_TEMPLATES' | translate }}"
                           (change)="sortByIsTemplateAsc=true; updateData(analysisData.analyses)"
                           [checked]="sortByIsTemplateAsc">
          <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div fxLayout="row" class="analysis-sort-by-container">
      <div class="analysis-sort-by-text">
        {{ 'HOME.LAST_EDITED_ORDER' | translate }}
      </div>
      <mat-button-toggle-group class="analysis-sort-by-buttons" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="desc"
                           matTooltip="{{ 'HOME.SHOW_RECENTLY_EDITED_ANALYSES_FIRST' | translate }}"
                           (change)="sortByLastEditedAsc=false; updateData(analysisData.analyses)"
                           [checked]="!sortByLastEditedAsc">
          <mat-icon>arrow_upward</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="asc"
                           matTooltip="{{ 'HOME.SHOW_RECENTLY_EDITED_ANALYSES_LAST' | translate }}"
                           (change)="sortByLastEditedAsc=true; updateData(analysisData.analyses)"
                           [checked]="sortByLastEditedAsc">
          <mat-icon>arrow_downward</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div fxLayout="row" class="analysis-import-export-container">
      <button mat-raised-button
              class="import-analyses-button"
              matTooltip="{{ 'HOME.IMPORT_TOOLTIP' | translate }}"
              (click)="openImportDialog($event.target)">
        {{ 'HOME.IMPORT' | translate }}
      </button>
      <button mat-raised-button
              class="export-analyses-button"
              [ngClass]="{'click-again-to-confirm' : inSelectionMode}"
              matTooltip="{{ 'HOME.EXPORT_TOOLTIP' | translate }}"
              (click)="exportAnalyses()">
        {{ 'HOME.EXPORT' | translate }}
      </button>
      <input id="select-file"
             type="file"
             style="display: none"
             accept=".json,.txt"
             (change)="openImportDialog($event.target)"/>

      <div *ngIf="inSelectionMode"
           fxLayout="column"
           class="analysis-export-sub-actions">
        <button mat-icon-button
                class="export-abort-button"
                matTooltip="{{ 'HOME.EXPORT_ABORT' | translate }}"
                (click)="abortExport()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="analyses-tiles-container">
    <div class="analyses-title">{{ 'COMMON.ENTITY.ANALYSES' | translate }}</div>
    <ng-scrollbar>
      <div class="analyses-tiles-wrapper">
        <div *ngFor="let analysis of analyses;">
          <div
            *ngIf="analysis.name.toLowerCase().includes(analysisNameFilter.toLowerCase()) && ((analysis.isTemplate === showTemplates && !analysis.isTemplate === showAnalyses) || ( showAnalyses && showTemplates))">
            <app-analysis-tile [analysis]="analysis" [inSelectionMode]="inSelectionMode"></app-analysis-tile>
          </div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>
