#left-panel {

}

#right-panel {
  padding-left: 20%;
  height: 83vh;
}

.analysis-ui {
  position: fixed;
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 150px;

  .new-analysis-button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px 60px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 20px;
  }

  .analysis-name-filter {
    margin-top: 50px;
    width: 100%;
  }

  .analysis-is-template-filter {
    margin-top: 25px;
    margin-bottom: 15px;

    #show-analyses {
      margin-left: 25px;
    }

    #show-templates {
      margin-left: 25px;
    }
  }

  .analysis-sort-by-container {
    margin-top: 25px;

    .analysis-sort-by-text {
      width: 130px;
      margin-top: 13px;
      margin-right: 10px;
    }

    .analysis-sort-by-buttons {
      margin-right: 15px;
    }
  }
}

.analyses-title {
  text-align: center;
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.analyses-tiles-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
}
