#left-panel {
  width: 20%;
}

#right-panel {
  width: 75%;
  margin-left: 21%;
}

.new-analysis-button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px 60px;
  margin-left: 50px;
  margin-top: 230px;
  width: 15%;
  text-transform: uppercase;
  border-radius: 20px;
  position: fixed;
}

.analyses-title {
  text-align: center;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 70px;
}

.analyses-tiles-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  height: 1000px;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
  overflow-y: scroll;
}
