#left-panel {
  float: left;
  width: 20%;
}

#right-panel {
  float: right;
  width: 80%;
}

.new-analysis-button {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px 60px;
  margin-left: 50px;
  margin-top: 230px;
  width: 240px;
  text-transform: uppercase;
  border-radius: 20px;
  position: fixed;
}

.analyses-title {
  text-align: center;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 70px;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
}

.news-card {
  border: 0 solid aqua;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  max-width: 30%;
  height: 300px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
