<div fxLayout="column">
  <div id="left-panel">
    <br>
    <div>
      <button mat-raised-button
              (click)="openAnalysisDialog(analysisData.createDefaultAnalysis())"
              class="new-analysis-button">{{'HOME.NEW_ANALYSIS_BUTTON_TEXT' | translate}}
      </button>
    </div>
  </div>

  <div id="right-panel">
    <div class="analyses-title">Analyses</div>
    <ng-scrollbar>
      <div class="analyses-tiles-wrapper">
        <div *ngFor="let analysis of analysisData.analyses;">
          <app-analysis-tile [analysis]="analysis"></app-analysis-tile>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</div>
