p {
  font-size: 80%;
  margin-bottom: 0;
}

.impacted-filter-container {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  max-height: 48px;
}

app-stakeholders-impacted {
  width: 100%;
  margin-bottom: 20px;
}
