<div class="container">
  <div class="title-container">
    <h2 mat-dialog-title>Dimensions</h2>
  </div>

  <div class="expansion-panel-container">
    <ng-scrollbar>
      <mat-accordion multi>
        <div *ngFor="let dimType of dimensionDataService.dimensionTypes">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{dimType | titlecase}} Dimensions
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-dimension-table [type]='dimType'></app-dimension-table>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </ng-scrollbar>
  </div>

  <div class="action-container">
    <mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="closeClick()">Schließen</button>
    </mat-dialog-actions>
  </div>
</div>