<div class="container">
  <div class="title-container">
    <h2 mat-dialog-title>Dimensions</h2>
  </div>

  <div class="panel-container">
    <ng-scrollbar>
      <mat-accordion multi>
        <mat-expansion-panel expanded="socialDimensionState" (opened)="socialDimensionState = true"
          (closed)="socialDimensionState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Social Dimensions
            </mat-panel-title>
            <mat-panel-description>
              Dimension with a social impact
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>

            <table mat-table [dataSource]='socialDimensions' matSort>
              <caption class="screen-reader-only">List of Dimensions</caption>

              <!-- TODO: ToolTips when tabbing through headers -->
              <ng-container matColumnDef='id'>
                <th scope="col" mat-header-cell *matHeaderCellDef>
                  <div mat-sort-header matTooltip="An artificial ID" matTooltipHideDelay="100"
                    matTooltipPosition="above">ID</div>
                </th>
                <td mat-cell *matCellDef='let dimension'> {{dimension.id}} </td>
              </ng-container>

              <ng-container matColumnDef='name'>
                <th scope="col" mat-header-cell *matHeaderCellDef>
                  <div mat-sort-header matTooltip="An artificial ID" matTooltipHideDelay="100"
                    matTooltipPosition="above">Name</div>
                </th>
                <td mat-cell *matCellDef='let dimension'> {{dimension.name}} </td>
              </ng-container>

              <ng-container matColumnDef='type'>
                <th scope="col" mat-header-cell *matHeaderCellDef>
                  <div mat-sort-header matTooltip="An artificial ID" matTooltipHideDelay="100"
                    matTooltipPosition="above">Type</div>
                </th>
                <td mat-cell *matCellDef='let dimension'> {{dimension.type}} </td>
              </ng-container>

              <ng-container matColumnDef='description'>
                <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
                  <div matTooltip="The dimension description" matTooltipHideDelay="100" matTooltipPosition="above">
                    Description</div>
                </th>
                <td mat-cell *matCellDef='let dimension'>
                  <div class="description-wrapper">
                    <div class="description-container">
                      <textarea matInput cdkTextareaAutosize [(ngModel)]="dimension.description"
                        placeholder="Describe the dimension..."></textarea>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <p>I'm visible because I am open</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="economicDimensionState" (opened)="economicDimensionState = true"
          (closed)="economicDimensionState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Economic Dimensions
            </mat-panel-title>
            <mat-panel-description>
              Dimension with an economic impact
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <p>I'm visible because I am open</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
            <p>Here would be the table</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-scrollbar>
  </div>

  <div class="action-container">
    <mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="closeClick()">Schließen</button>
    </mat-dialog-actions>
  </div>
</div>