<div class="analysis-dialog">
  <div hidden cdkFocusInitial></div>
  <button mat-dialog-close mat-icon-button class="analysis-modal-close">
    <mat-icon>close</mat-icon>
  </button>
  <div class="container">

    <h2>Neue Analyse anlegen</h2>

    <form (ngSubmit)="onSubmit()">

      <div class="group">
        <input type="text" name="analyseName" [(ngModel)]="analyseName" required/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name der Analyse</label>
      </div>

      <div class="group">
        <input type="text" name="analysisDescription" [(ngModel)]="analysisDescription" required/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Beschreibung</label>
      </div>

  <button mat-raised-button class="createButton button_cont b1" align="center" type="submit" (click)="GoToStakeholder()">
    Analyse erstellen
  </button>


    </form>

  </div>


</div>
