<div class="analysis-dialog">
  <div hidden cdkFocusInitial></div>
  <button mat-dialog-close mat-icon-button class="analysis-modal-close">
    <mat-icon>close</mat-icon>
  </button>
  <div class="container">

    <h2 *ngIf="!isTemplate && !editImage">Create New Analysis</h2>
    <h2 *ngIf="isTemplate && !editImage">Edit Analysis Template</h2>
    <h2 *ngIf="editImage">Edit Background Image</h2>

    <div *ngIf="isTemplate" class="group">
      <button mat-raised-button (click)="newTemplate();">New Template</button>
      <button mat-raised-button (click)="deleteTemplate()">Delete Template</button>
    </div>

    <form (ngSubmit)="onSubmit()">

      <div class="group" *ngIf="!editImage">
        <mat-form-field>
          <mat-label>Template</mat-label>
          <mat-select [(ngModel)]="selectedTemplate" name="selectedTemplate">
            <mat-option *ngFor="let ana of analysisDataService.templateAnalyses" [value]="ana"
                        (onSelectionChange)="selectedTemplateChanged(ana)">
              {{ana.analysisName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="!editImage" class="group">
        <input type="text" name="analyseName" (change)="analysisNameChanged()" [(ngModel)]="analyseName" required/>
        <span class="bar"></span>
        <label *ngIf="!isTemplate">Name of Analysis</label>
        <label *ngIf="isTemplate">Name of Template</label>
      </div>

      <div *ngIf="editImage" class="group">
        <input type="text" name="analysisImage" [(ngModel)]="newImage" required/>
        <span class="bar"></span>
        <label>Edit Background-Image</label>
      </div>

      <div *ngIf="!isTemplate && !editImage" class="group">
        <input type="text" name="analysisDescription" [(ngModel)]="analysisDescription" required/>
        <span class="bar"></span>
        <label>Description</label>
      </div>

      <div *ngIf="!isTemplate && !editImage" class="group">
        <input type="text" name="analysisImageLink" [(ngModel)]="analysisImage" required/>
        <span class="bar"></span>
        <label>Background-Image (optional & direct-link)</label>
      </div>

      <div class="group" [hidden]="!selectedTemplate">
        <app-value-template></app-value-template>
      </div>

      <button mat-raised-button class="createButton button_cont b1" type="submit">
        <div *ngIf="!isTemplate && !editImage">Create Analysis</div>
        <div *ngIf="isTemplate && !editImage">Done</div>
        <div *ngIf="editImage">Update Background-Image</div>
      </button>
    </form>
  </div>
</div>
