<mat-tab-group #tabGroup (selectedIndexChange)="tabChanged($event)" mat-align-tabs="left" animationDuration="500ms">
  <mat-tab label="Stakeholder">
    <app-stakeholders></app-stakeholders>
  </mat-tab>
  <mat-tab label="Impact">
    <app-impacts></app-impacts>
  </mat-tab>
  <mat-tab label="Requirement">
    <app-requirements></app-requirements>
  </mat-tab>
  <mat-tab label="Dashboard">
    <app-dashboard></app-dashboard>
  </mat-tab>
</mat-tab-group>

<div class="current-analysis-info">
  <div class="is-template"
       matTooltip="This analysis is a template"
       matTooltipHideDelay="100"
       matTooltipPosition="below"
       *ngIf="analysisData.currentAnalysis?.isTemplate">
    <mat-icon>sticky_note_2</mat-icon>
  </div>

  <div class="analysis-name">
    {{analysisData.currentAnalysis?.name}}
  </div>
</div>
