table{
  border-collapse: collapse;
}

#ID_Column{
  width: 40px;
}

#ID_Requirement{
  width: 350px;
}

#ID_Variant{
  width: 100px;
}

#ID_Dimension{
  width: 100px;
}

#search-description-div {
  margin-left: 45px;
}

#add-requirement-button-div {
  position: fixed;
  left: 30px;
  bottom: 80px;
  height: 30px;
  width: 100%;
}

/*#requirement-table-div{*/
/*  max-height: 400px;*/
/*}*/
