#search-description-div {
  margin: 30px;
  margin-left: 45px;
}

#requirement-table-div {
  /*margin: 25px;
  height: calc(100vh - 350px);
  overflow-y: hidden;*/
  /*scroll-behavior: smooth;*/
  margin-top: 10px;
  max-height: calc(100vh - 360px);
  overflow: auto;
}

.scroll-to-top {
  position: fixed;
  top: 125px;
  right: 50px;
}
//.add-impact-button-div {
//  position: fixed;
//  left: 1.5%;
//  bottom: 2.5%;
//  width: 100%;
//}
//#add-requirement-button-div{
//  position: fixed;
//  left: 1.5%;
//  /*bottom: 2.5%;*/
//  width: 100%;
//}
//.container .add-requirement-button-div {
//  flex: 0 1 auto;
//  margin-left: auto;
//}
//.add-requirement-test-div {
//  margin-left: 1.5vw;
//  display: inline-block;
//  font-size: 150%;
//}

.add-requirement-button-container {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
  opacity: 0.8;
  transition: 250ms ease-out 100ms;
  z-index: 10;
  flex: 0 1 auto;

  .add-requirement-text-container {
    margin-right: 1.5vw;
    display: inline-block;
    font-size: 150%;
  }
}

.add-requirement-button-container:hover {
  opacity: 1 !important;
  transition: 250ms ease-out 100ms;
}
