#search-description-div {
  margin: 30px;
  margin-left: 45px;
}

#requirement-table-div {
  margin: 25px;
  height: calc(100vh - 350px);
  /*overflow-y: hidden;*/
  /*scroll-behavior: smooth;*/
}

#add-impact-button-div {
  position: fixed;
  left: 30px;
  bottom: 80px;
  height: 30px;
  width: 100%;
}

.scroll-to-top {
  position: fixed;
  top: 125px;
  right: 50px;
}
