<div class="container">

  <div class="impact-table-filter-bar-container">
    <app-requirement-table-filter-bar (filterChanged)="filterBarChanged($event)">
    </app-requirement-table-filter-bar>
  </div>

  <div id="requirement-table-div" >
      <app-requirement-table></app-requirement-table>
  </div>
</div>
  <div class="add-requirement-button-container">
    <div class="add-requirement-button-container">
     <button mat-fab matTooltip="Add a new requirement" type="button"
             (click)="addRequirements()">
       <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="add-requirement-text-container">
      <p id="text">Requirement</p>
    </div>
  </div>

