<!--<div id="search-description-div">-->
<!--  <input matInput placeholder="Search...">-->
<!--</div>-->

<div class="container">

  <div class="impact-table-filter-bar-container">
    <app-impact-table-filter-bar>
    </app-impact-table-filter-bar>
  </div>

  <div id="requirement-table-div" >
  <!--  <ng-scrollbar>-->
      <app-requirement-table></app-requirement-table>
  <!--  </ng-scrollbar>-->
  </div>
  <div id="add-impact-button-div">
  <button mat-fab id="add-requirement-button" type="button" (click)="addRequirements()">
    <p style="font-size:180%;">+</p>
  </button>
  </div>
</div>



