/* Table */

// explicitly set vertical alignment for the whole table to overwrite default browser styling
// (see https://stackoverflow.com/questions/28109062/cancel-vertical-align-property for more information)
thead, tbody, tfoot {
  vertical-align: middle
}

td, th, tr {
  vertical-align: middle
}

.table-container {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100%;

  mat-table {
    flex: 1 1 auto;
  }
}

.mat-table {
  width: 100%;
  height: 80px;

  &.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: col-resize;
  }

  .mat-cell {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mat-cell:last-child, .mat-header-cell:last-child {
    border-right: 0 solid rgba(0, 0, 0, 0.12);
  }

  .mat-cell, .mat-header-cell {
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    &:not(:nth-child(1)) {
      padding: 0 10px;
    }
  }

  .mat-header-cell {
    position: relative;
    border-right: 0 solid rgba(0, 0, 0, 0.12);
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);

    &:not(:last-child) {
      .resize-holder {
        cursor: col-resize;
        width: 20px;
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 100;
      }
    }
  }
}

.mat-list.list-horizontal {
  .mat-list-item {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    width: auto;
  }
}

.mat-column-prefixSequenceId {
  width: 80px;
}

.mat-column-stakeholder {
  width: 300px;
}

.mat-column-value {
  width: 200px;
}

.mat-column-merit {
  width: 150px;
}

.mat-column-description {
  text-overflow: ellipsis;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px;
}

#value-modal {
  margin-left: 5%;
}

.impact-slider-container {
  margin-top: 2%;
}

.value-percentage {
  text-align: center;
  margin-top: 5%;
  margin-bottom: -5%;
}

/* Delete row button */

.delete-button-wrapper {
  display: table;
  width: 100%;
}

.description-container {
  display: table-cell;
  text-align: left;
  padding: 2px;
  vertical-align: middle;
  width: 99%;
  overflow: hidden;
}

.delete-button-container {
  display: table-cell;
  opacity: 0;
  vertical-align: middle;
  text-align: right;
  transition: 250ms ease-out 100ms;
  padding-right: 20px;
}

.delete-button-container:focus-within,
.delete-button-container:hover {
  opacity: 1 !important;
  transition: 250ms ease-out 100ms;
}

.mat-row:hover .delete-button-container {
  opacity: 0.2;
  transition: 250ms ease-out 100ms;
}

.mat-row:focus-within .delete-button-container {
  opacity: 0.5;
  transition: 250ms ease-out 100ms;
}

.add-entity-button {
  margin-bottom: 25px;
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
}

.scroll-to-top-button {
  position: fixed;
  top: 125px;
  right: 30px;
  z-index: 10;
}
