@import './src/styles';

@include misc-theme();
@include main-table-theme();

.mat-column-prefixSequenceId {
  width: 80px;
}

.mat-column-stakeholder {
  width: 300px;
}

.mat-column-value {
  width: 200px;
}

.mat-column-merit {
  width: 150px;
}

.mat-column-description {
  text-overflow: ellipsis;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px;
}

#value-modal {
  margin-left: 5%;
}

.impact-slider-container {
  margin-top: 2%;
}

.value-percentage {
  text-align: center;
  margin-top: 5%;
  margin-bottom: -5%;
}

.delete-button-wrapper {
  display: table;
  width: 100%;
}

.description-container {
  display: table-cell;
  text-align: left;
  padding: 2px;
  vertical-align: middle;
  width: 99%;
  overflow: hidden;
}
