<div class="table-container">
  <ng-scrollbar>
    <table mat-table [dataSource]='tableDataSource' matSort>
      <caption class="screen-reader-only">List of impacts</caption>

      <ng-container matColumnDef='prefixSequenceId'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="An artificial ID" matTooltipHideDelay="100" matTooltipPosition="above">ID</div>
        </th>

        <td mat-cell *matCellDef='let impact'>
          <div [innerHTML]="impact.prefixSequenceId | highlightSearch: highlightFilter"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef='stakeholder'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="The affected stakeholder" matTooltipHideDelay="100" matTooltipPosition="above">Stakeholder
          </div>
        </th>

        <td mat-cell *matCellDef='let impact'>
          <mat-list class="list-horizontal">
            <mat-list-item>
              <app-stakeholders-level [showDescription]="false" [editable]="false"
                                      [level]="impact.stakeholder.level"></app-stakeholders-level>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <mat-select [(ngModel)]="impact.stakeholder" (selectionChange)="updateImpact(impact)">
                  <mat-select-trigger>
                    <div [innerHTML]="impact.stakeholder.name | highlightSearch: highlightFilter"></div>
                  </mat-select-trigger>
                  <mat-option *ngFor="let stk of stakeholderDataService.stakeholders" [value]="stk">
                    {{stk.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
        </td>
      </ng-container>

      <ng-container matColumnDef='value'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>
            Value
          </div>
          <mat-icon id="value-modal" (click)="$event.stopPropagation(); openValueModal();">info
          </mat-icon>
        </th>

        <td mat-cell
            [ngClass]="{'references-archived' : impact.value.archived}"
            [matTooltipDisabled]="!impact.value.archived"
            matTooltip="This impact references an archived value"
            matTooltipHideDelay="100"
            matTooltipPosition="above"
            *matCellDef='let impact'>
          <mat-form-field>
            <mat-select [(ngModel)]="impact.value" (selectionChange)="updateImpact(impact)">
              <mat-select-trigger>
                <div [innerHTML]="impact.value.name | highlightSearch: highlightFilter"></div>
              </mat-select-trigger>
              <ng-container *ngFor="let val of valueDataService.values">
                <mat-option *ngIf="!val.archived || impact.value === val"
                            [value]="val">
                  {{val.name}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef='merit'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="The impact (Goal or Risk)" matTooltipHideDelay="100" matTooltipPosition="above">Impact</div>
        </th>

        <td mat-cell *matCellDef='let impact'>
          <div class="impact-slider-container">
            <app-impact-slider [deadzone]='0.3' [(value)]="impact.merit"
                               (sliderValueChange)="updateImpact(impact)">
            </app-impact-slider>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef='description'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="The impact description" matTooltipHideDelay="100" matTooltipPosition="above">
            Description
          </div>
        </th>
        <td mat-cell *matCellDef='let impact'>
          <div class="delete-button-wrapper">
            <div class="description-container">
              <app-mark-textarea [(text)]="impact.description"
                                 (textChange)="updateImpact(impact)"
                                 [highlightFilter]="highlightFilter"
                                 [placeholder]="'Describe the impact...'"></app-mark-textarea>
            </div>
            <div class="delete-button-container">
              <button mat-fab (click)="deleteImpact(impact)" matTooltip="Delete Impact" matTooltipHideDelay="100"
                      matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight' : row.highlighted}"></tr>
    </table>
  </ng-scrollbar>

  <app-add-entity-button class="add-entity-button" (clicked)="createImpact()" [text]="'Impact'"></app-add-entity-button>
</div>

<app-scroll-to-top-button class="scroll-to-top-button" [windowScrolled]="windowScrolled"
                          (clicked)="scrollToTop()"></app-scroll-to-top-button>
