.addStakeholderButton{
  position: fixed;
  margin-bottom: 5%;
  margin-left: 2%;
}

.mat-column-guiId {
  width: 10%;
  max-width: 90px;

}


.options {
  display: none;
  margin-right: 0;
}

.mat-row:hover {
  .options {
    vertical-align: middle;
    text-align: right;
    display: contents;
  }
}
