.addStakeholderButton{
  position: fixed;
  margin-bottom: 5%;
  margin-left: 2%;

  button{
    background-color: #ff4081;
    color: white;
  }
}

.button-container{
  width: 100%;
  position: fixed;
  bottom: 35px;
  right: -67px;
}

::ng-deep.stakeholder-table{
  height: 550px;
}

.add-impact-button-container {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
  opacity: 0.8;
  transition: 250ms ease-out 100ms;
  z-index: 10;
  flex: 0 1 auto;



  .add-impact-text-container {
    margin-left: 1.5vw;
    display: inline-block;
    font-size: 150%;
  }
}

.mat-column-guiId {
 flex: 0.2;
  min-width: fit-content;
}

.mat-column-Prio{
  flex: 0.4;
  min-width: fit-content;
}

.mat-column-Impact{
  flex: 0.3;
  min-width: (fit-content + 100px);
}

.mat-column-Ebene{
  flex: 0.6;
  min-width: fit-content;
}




.options {
  display: none;
  margin-right: 0;
}

.mat-row:hover {
  .options {
    vertical-align: middle;
    text-align: right;
    display: contents;
  }
}
