<mat-table mat-table [dataSource]="stakeholderDataService.matDataSource" >
  <ng-container matColumnDef='guiId'>
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef='let stakeholder'>
      <div [innerHTML]="stakeholder.guiId | highlightSearch: stakeholderDataService.searchtext">
      </div>
      <div>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef='Stakeholder'  >
    <mat-header-cell *matHeaderCellDef>Stakeholder</mat-header-cell>
    <mat-cell *matCellDef='let stakeholder' (click)="stakeholder.editable =true;">
      <input type="text" matInput cdkTextareaAutosize value="{{stakeholder.name}}"
             readonly="{{!stakeholder.editable}}" name="stakeholder"
             [(ngModel)]="stakeholder.name" *ngIf="stakeholder.editable" id="titleinput" id="{{stakeholder.id}}_stakeholder" autofocus tabindex="0">

      <div *ngIf="!stakeholder.editable" [innerHTML]="stakeholder.name | highlightSearch: stakeholderDataService.searchtext" >
      </div>

    </mat-cell>
  </ng-container>
  <ng-container matColumnDef='Ebene'>
    <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
    <mat-cell *matCellDef='let stakeholder'>
      <div>
        <app-stakeholder-level [filtertext]="stakeholderDataService.searchtext"  [(level)]="stakeholder.level" (levelChange)="stakeholder.level = $event; saveNotEdit(stakeholder)" ></app-stakeholder-level>
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef='Prio'>
    <mat-header-cell *matHeaderCellDef>Prio</mat-header-cell>
    <mat-cell *matCellDef='let stakeholder' >
      <app-stakeholder-prio [(prio)]="stakeholder.priority" (prioChange)="stakeholder.priority = $event; saveNotEdit(stakeholder)"></app-stakeholder-prio>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Impact">
    <mat-header-cell *matHeaderCellDef>Impact</mat-header-cell>
    <mat-cell *matCellDef='let stakeholder'>
      <app-stakeholder-impact [created]="stakeholder.created" [negativeimpactvalue]= "stakeholder.negativeImpact" [positiveimpactvalue]= "stakeholder.positiveImpact" ></app-stakeholder-impact>
      <div class="options" >
        <button mat-icon-button name="löschen" (click)="delete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"
           (mouseleave)="save(row)"></mat-row>
</mat-table>
<div class="addStakeholderButton">
  <button mat-icon-button aria-label="Add Variant"  (click)="addStakeholder()" tabindex="-1">
    <mat-icon>add</mat-icon>
  </button>
  Stakeholder
</div>

