<div class="container">
  <div class="title-container">
    <h2 mat-dialog-title>Values</h2>
  </div>

  <div class="expansion-panel-container" style="height: 400px">
    <ng-scrollbar>
      <mat-accordion multi>
        <div *ngFor="let valType of valueDataService.valuesTypes">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{valType | titlecase}} Values
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-value-template-table [type]='valType' [template]="template"></app-value-template-table>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </ng-scrollbar>
  </div>
</div>
