p {
  font-size: 80%;
  margin-bottom: 0;
}

.priority-filter-container {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  max-height: 48px;
}

app-stakeholders-priority{
  margin-bottom: 10px;
}
