<div class="stakeholder-dialog">
  <h2 mat-dialog-title>Stakeholder</h2>
  <mat-dialog-content [formGroup]="form">
    <div class="container">
      <table mat-table [dataSource]='matDataSource' class="stakeholder-table">

        <ng-container matColumnDef='Stakeholder'>
          <td mat-cell *matCellDef='let stakeholder'>
            <input type="text" matInput value="{{stakeholder.name}}" readonly="{{!stakeholder.editable}}"
                   name="Stakeholder"
                   formControlName="Stakeholder">
            {{stakeholder.name}}
          </td>
        </ng-container>

        <ng-container matColumnDef='ebene'>
          <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Ebene </th>
          <td mat-cell *matCellDef='let stakeholder'>
            <mat-select [(ngModel)]="stakeholder.level">
              <mat-option *ngFor="let stk for stakeholders" [value]="stk">{{stk.level}}</mat-option>
            </mat-select>
                   formControlName="Ebene">
          </td>
        </ng-container>

        <ng-container matColumnDef='Prio'>
          <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Prio </th>
          <td mat-cell *matCellDef='let stakeholder'>
            <mat-select [(ngModel)]="stakeholder.prio">
              <mat-option *ngFor="let stk for stakeholders" [value]="stk">{{stk.prio}}</mat-option>
            </mat-select>
          </td>
        </ng-container>

        <ng-container matColumnDef='Impact'>
          <td mat-cell *matCellDef='let stakeholder'>
            <input type="text" matInput value="{{stakeholder.impact}}" readonly="{{!stakeholder.editable}}"
                   name="Impact"
                   formControlName="Impact">
            {{stakeholder.impact}}
          </td>
        </ng-container>

      </table>
    </div>

    <button mat-icon-button aria-label="Add Stakeholder" class="addStakeholderButton" (click)="addStakeholder()">
      <mat-icon>Hinzufügen</mat-icon>
    </button>

  </mat-dialog-content>
</div>
