p {
  font-size: 80%;
  margin-bottom: 0;
}

#filter-options {
  display: none;
}

.slider{
  margin-top: -15px;
  width: 100%;
}

.slider-filter-container {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  max-height: 48px;
}

