<div class="imprint-container">
  <h1>
    Impressum
  </h1>

  <p>
    User Interface Design GmbH <br>
    Wilhelm-Bleyle-Straße 10-12 <br>
    71636 Ludwigsburg
  </p>

  <p>
    fon +49 (0) 7141 3 77 00 0 <br>
    fax +49 (0) 7141 3 77 00 99
  </p>

  <p>
    Kontakt: Franz Koller <br>
    Geschäftsführer: Franz Koller, Dr. Claus Görner <br>
    www.uid.com
  </p>

  <p>
    Die User Interface Design GmbH ist unter HRB 205519 beim Amtsgericht Stuttgart eingetragen. <br>
    Die Umsatzsteuer-Identifikationsnummer lautet DE 812 623 085.
  </p>

  <p>
    Prof. Dr. Stefan Bente <br>
    Technische Hochschule Köln <br>
    Fakultät für Informatik und Ingenieurswissenschaften <br>
    Steinmüllerallee 6 <br>
    51643 Gummersbach <br>
    Kontakt: Stefan Bente
  </p>

  <p>
    Diese Website ist Eigentum und wird gewartet von der User Interface Design GmbH. Sie wird von der User Interface
    Design GmbH in Kooperation mit Stefan Bente konzipiert, gestaltet und realisiert. Das EVA Tool und die EVA-Website
    werden als Gemeinschaftsprojekt der User Interface Design GmbH und Stefan Bente entwickelt und bereitgestellt. Die
    Verantwortung für den Inhalt liegt bei den Autoren.
  </p>
</div>
