::ng-deep .mat-slider {
  width: 100%;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background, ::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: blue;
  color: black;
}

::ng-deep .mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}

::ng-deep .mat-slider-track-background {
  /*
  background-color: transparent;
*/
}

.container {
  vertical-align: middle;
  position: relative;
}

#goal-bar {
  background-color: green;
  width: 50%;
  height: 30px;
  float: left;
  left: 10%;
}

#risk-bar {
  background-color: red;
  width: 50%;
  height: 30px;
  float: right;
}

#slider-container {
  position: relative;
}