::ng-deep .mat-slider {
  width: 100%;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background, ::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  color: transparent;
  background-color: transparent;
}

::ng-deep .mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  color: transparent;
  background-color: black;
  opacity: 0.0;
}

::ng-deep .mat-slider-thumb {
  color: transparent;
  background-color: transparent;
  transition: none;
  transform: none;
}

.container {
  position: relative;
  height: 20px;
  background-color: rgb(220, 220, 220);
}

#goal-bar {
  position: absolute;
  background-color: green;
  width: 50%;
  height: 20px;
  float: left;
  margin-left: 50%;
}

#risk-bar {
  background-color: red;
  width: 50%;
  height: 20px;
  float: right;
  margin-right: 50%;
}

#slider-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -9px;
  bottom: 0px;
}

#slider-thumb {
  position: absolute;
  background-color: gray;
  height: 20px;
  width: 10px;
  float: left;
  opacity: 1;
}

#slider-middle {
  position: absolute;
  background-color: gray;
  margin-top: -10px;
  height: 40px;
  width: 1px;
  float: left;
  margin-left: 50%;
}