p {
  font-size: 80%;
  margin-bottom: 0;
}

.category-filter-container {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  max-height: 48px;
}

::ng-deep .option-button .mat-pseudo-checkbox {
  display: none;
}

.mat-option-icon {
  margin-left: -5px;
  width: 7px;
  transform: scale(1.0);
}
