<div>
  <p>{{name}}</p>
</div>
<div class="category-filter-container">
  <mat-list-item role="listitem">
    <mat-select matTooltip="{{filterValues.join(', ')}}"
                placeholder="All"
                name="filter"
                [(ngModel)]="filterValues"
                multiple>
      <mat-option class="option-button"
                  (click)="clearSelection()">
        <mat-icon class="mat-option-icon">clear</mat-icon>
        {{ 'FILTER_CATEGORY.CLEAR' | translate }}
      </mat-option>
      <mat-option class="option-button"
                  (click)="selectAll()">
        <mat-icon class="mat-option-icon">format_list_bulleted</mat-icon>
        {{ 'FILTER_CATEGORY.ALL' | translate }}
      </mat-option>
      <mat-option class="option-button"
                  (click)="invertSelection()">
        <mat-icon class="mat-option-icon">swap_calls</mat-icon>
        {{ 'FILTER_CATEGORY.INVERT' | translate }}
      </mat-option>
      <mat-option *ngFor="let category of categories"
                  [value]="category"
                  (click)="updateFilter()">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-list-item>
</div>
