<div fxLayout="column" class="login-form-container">

  <div fxLayout="row" class="form-toggle-container">
    <button mat-button
            class="toggle-button sign-in-toggle-button"
            [ngClass]="{'toggle-button-active': formMode === 'login', 'toggle-button-label': !registrationEnabled}"
            (click)="formMode='login'">
      Sign in
    </button>

    <button mat-button
            *ngIf="registrationEnabled"
            class="toggle-button sign-up-toggle-button"
            [ngClass]="{'toggle-button-active': formMode === 'registration'}"
            (click)="formMode='registration'">
      Sign up
    </button>
  </div>

  <mat-form-field *ngIf="formMode === 'login' && tenantSelectionEnabled">
    <mat-label>Tenant</mat-label>
    <input matInput
           [(ngModel)]="realm"
           (keydown.enter)="onSubmit()">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput
           [(ngModel)]="username"
           (keydown.enter)="onSubmit()">
  </mat-form-field>

  <mat-form-field *ngIf="formMode === 'registration'">
    <mat-label>Email</mat-label>
    <input matInput
           [(ngModel)]="email"
           (keydown.enter)="onSubmit()">
  </mat-form-field>

  <div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput
             [type]="showPassword ? 'text' : 'password'"
             [(ngModel)]="password"
             (keydown.enter)="onSubmit()">
    </mat-form-field>

    <button mat-icon-button
            class="toggle-password-button"
            (click)="showPassword = !showPassword">
      <mat-icon>remove_red_eye</mat-icon>
    </button>

    <mat-form-field *ngIf="formMode === 'registration'">
      <mat-label>Repeat Password</mat-label>
      <input matInput
             [type]="showPassword ? 'text' : 'password'"
             [(ngModel)]="passwordRepeat"
             (keydown.enter)="onSubmit()">
    </mat-form-field>

    <button *ngIf="formMode === 'registration'"
            mat-icon-button
            class="toggle-password-button"
            (click)="showPassword = !showPassword">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
  </div>

  <button class="submit-button"
          mat-button
          (click)="onSubmit()">
    {{ formMode == 'login' ? 'Sign in' : 'Sign up' }}
  </button>

  <div class="aux-actions">
    <div class="terms-and-conditions"
         (click)="termsAndConditions()">
      Terms & condition
    </div>
    <div *ngIf="registrationEnabled"
         class="forgot-password"
         (click)="forgotPassword()">
      Forgot password
    </div>
  </div>
</div>

