.login-form-container {

  margin: 150px 40% 0 40%;

  .form-toggle-container {
    margin-bottom: 50px;
    width: 100%;

    .sign-in-toggle-button {

    }

    .sign-up-toggle-button {
      margin-left: auto;
    }

    .toggle-button {
      background-color: #7f7f7f;
      width: 100px;
      height: 50px;
      font-size: 150%;
    }

    .toggle-button-active {
      background-color: #0074D9;
    }
  }

  mat-form-field {
    margin-bottom: 40px;
    width: 100%;
  }

  .toggle-password-button {
    position: fixed;
    margin-left: -32px;
  }

  .sign-in-button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 10px;
  }

  .aux-actions {
    margin-top: 40px;
    width: 100%;

    .terms-and-conditions {
      font-size: 90%;
      cursor: pointer;
      text-transform: uppercase;
    }

    .forgot-password {
      font-size: 90%;
      cursor: pointer;
      margin-top: -20px;
      float: right;
    }
  }
}
