<div fxLayout="column" class="login-form-container">

  <h2> Sign in </h2>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="authService.username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="authService.password">
  </mat-form-field>

  <button class="sign-button"
          mat-button
          (click)="authService.getInitialToken()">
    Sign in
  </button>

  <div fxLayout="row" class="aux-actions">
    <div class="terms-and-conditions">
      Terms & condition
    </div>
    <div class="forgot-password">
      Forgot password
    </div>
  </div>
</div>

