@import '../../../styles';

@include misc-theme();
@include main-table-theme();

.mat-column-archived {
  min-width: 60px;
  width: 60px;
  text-align: center !important;
}

.mat-column-name {
  min-width: 200px;
  width: 200px;
  text-overflow: ellipsis;
}

.mat-column-valueType {
  min-width: 200px;
  width: 200px;
}

.mat-column-description {
  min-width: 250px;
  text-overflow: ellipsis;
}

#value-type-modal-icon {
  margin-left: 10px;
}

/* Delete row button */

.delete-button-wrapper {
  display: table;
  width: 100%;
}

.description-container {
  display: table-cell;
  text-align: left;
  padding: 2px;
  vertical-align: middle;
  width: 99%;
  overflow: hidden;
}
