<div class="table-container">
  <ng-scrollbar>
    <table mat-table [dataSource]="tableDataSource" matSort>
      <caption class="screen-reader-only">List of Values</caption>

      <ng-container matColumnDef='archived'>
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="15">
          <div mat-sort-header>
            {{ 'COMMON.TABLE.ARCHIVED' | translate}}
          </div>
        </th>
        <td mat-cell *matCellDef='let value'>
          <button mat-icon-button class="archived-value-button"
                  (click)="value.archived=!value.archived;updateValue(value);">
            <mat-icon *ngIf="value.archived" matTooltip="{{ 'COMMON.TABLE.SELECTION_EXCLUDED' | translate }}">
              add
            </mat-icon>
            <mat-icon *ngIf="!value.archived" matTooltip="{{ 'COMMON.TABLE.SELECTION_INCLUDED' | translate }}">
              done
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef='name'>
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="20">
          <div mat-sort-header>
            Value
          </div>
        </th>
        <td mat-cell *matCellDef='let value'>
          <app-highlight-textarea [(text)]="value.name"
                                  (textChange)="updateValue(value)"
                                  [highlightFilter]="highlightFilter"
                                  placeholder="{{ 'COMMON.PROPERTY.NAME' | translate }}..."></app-highlight-textarea>
        </td>
      </ng-container>

      <ng-container matColumnDef='valueType'>
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            Type
            <mat-icon id="value-type-modal-icon"
                      (click)="$event.stopPropagation(); openValueTypesDialog();"
                      matTooltip="{{ 'VALUE_TABLE.VALUE_TYPE_DIALOG_TOOLTIP' | translate }}">edit
            </mat-icon>
          </div>
        </th>

        <td mat-cell *matCellDef='let value'>
          <mat-form-field class="dropdown-reference">
            <mat-select [(ngModel)]="value.valueType" (selectionChange)="updateValue(value)">
              <mat-select-trigger [matTooltip]="value.valueType.description">
                <div [innerHTML]="value.valueType.name | highlightSearch: highlightFilter"></div>
              </mat-select-trigger>
              <ng-container *ngFor="let valueType of valueTypeData.valueTypes">
                <mat-option *ngIf="!valueType.archived || value.valueType === valueType"
                            [value]="valueType">
                  {{valueType.name}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            Description
          </div>
        </th>
        <td mat-cell *matCellDef='let value'>
          <div class="delete-button-wrapper">
            <div class="description-container">
              <app-highlight-textarea [(text)]="value.description"
                                      (textChange)="updateValue(value)"
                                      [highlightFilter]="highlightFilter"
                                      placeholder="{{ 'COMMON.PROPERTY.DESCRIPTION' | translate }}..."></app-highlight-textarea>
            </div>
            <div class="delete-button-container">
              <button mat-icon-button
                      matTooltip="{{ 'COMMON.DELETE' | translate }}"
                      [disabled]="value.deletionFlagged"
                      (click)="deleteValue(value)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'highlight' : row.highlighted}"></tr>
    </table>

  </ng-scrollbar>

  <app-add-entity-button class="add-entity-button" (clicked)="createValue()"
                         text="{{ 'COMMON.ENTITY.VALUE' | translate }}"></app-add-entity-button>
</div>

<app-scroll-to-top-button class="scroll-to-top-button" [windowScrolled]="windowScrolled"
                          (clicked)="scrollToTop()"></app-scroll-to-top-button>
