<table mat-table [dataSource]='tableDataSource' matSort>
  <caption class="screen-reader-only">List of impacts</caption>

  <!-- TODO: ToolTips when tabbing through headers -->
  <ng-container matColumnDef='uniqueString'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div mat-sort-header matTooltip="An artificial ID" matTooltipHideDelay="100" matTooltipPosition="above">ID</div>
    </th>
    <td mat-cell *matCellDef='let impact'> I{{impact.uniqueString}} </td>
  </ng-container>

  <ng-container matColumnDef='stakeholder'>
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      <div matTooltip="The affected stakeholder" matTooltipHideDelay="100" matTooltipPosition="above">Stakeholder</div>
      <app-column-category-filter [categories]="stakeholderNames" (filterChanged)="filterValues.stakeholder = $event;updateFilter()" name="stakeholder"></app-column-category-filter>
    </th>

    <td mat-cell *matCellDef='let impact'>
      <mat-select [(ngModel)]="impact.stakeholder" (selectionChange)="stakeholderChange(impact, $event)">
        <mat-option *ngFor="let stk of impactDataService.stakeholders" [value]="stk">{{stk.name}}</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef='dimension'>
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      <div matTooltip="The dimension affecting the stakeholder" matTooltipHideDelay="100" matTooltipPosition="above">
        Dimension</div>
      <mat-icon id="dimension-modal" (click)="$event.stopPropagation(); openDimensionModal();">info</mat-icon>
      <button mat-icon-button color="accent" (click)="$event.stopPropagation();toggleFilterVisibility('dimension')"
        aria-label="Stakeholder-Filter">
        <mat-icon>filter_alt</mat-icon>
      </button>

      <div class="floating" appClickOutside (clickOutside)="searchToggles.set('dimension', false)">
        <mat-form-field (click)="$event.stopPropagation()" [ngClass]="searchToggles.get('dimension') ? 'show' : 'hide'">
          <mat-label>Dimension-Filter</mat-label>
          <input matInput [formControl]="dimensionFilter" placeholder="Dimension">
        </mat-form-field>
      </div>
    </th>

    <td mat-cell *matCellDef='let impact'>
      <mat-select [(ngModel)]="impact.dimension" (selectionChange)="dimensionChange(impact, $event)">
        <mat-option *ngFor="let dim of impactDataService.dimensions" [value]="dim">{{dim.name}}</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef='value'>
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      <div matTooltip="The impact (Goal or Risk)" matTooltipHideDelay="100" matTooltipPosition="above">Impact</div>
      <button mat-icon-button color="accent" (click)="$event.stopPropagation();toggleFilterVisibility('value')"
        aria-label="Stakeholder-Filter">
        <mat-icon>filter_alt</mat-icon>
      </button>

      <div class="floating" appClickOutside (clickOutside)="searchToggles.set('value', false)">
        <mat-form-field (click)="$event.stopPropagation()" [ngClass]="searchToggles.get('value') ? 'show' : 'hide'">
          <mat-label>Dimension-Filter</mat-label>
          <input matInput [formControl]="valueFilter" placeholder="Dimension">
        </mat-form-field>
      </div>
    </th>

    <td mat-cell *matCellDef='let impact'>
      <app-impact-slider [deadzone]='0.3' [(value)]="impact.value" (sliderValueChange)="valueChange(impact, $event)"></app-impact-slider>
    </td>
  </ng-container>

  <ng-container matColumnDef='description'>
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      <div matTooltip="The impact description" matTooltipHideDelay="100" matTooltipPosition="above">Description</div>
    </th>
    <td mat-cell *matCellDef='let impact'>
      <div class="description-wrapper">
        <div class="description-container">
          <textarea matInput cdkTextareaAutosize [(ngModel)]="impact.description" placeholder="Describe the impact..."
            (change)="descriptionChange(impact, $event)"></textarea>
        </div>
        <div class="delete-button-container">
          <button mat-fab (click)="deleteImpact(impact)" matTooltip="Delete Impact" matTooltipHideDelay="100"
            matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
