/* mat-select */

mat-select:focus {
  border-bottom: solid rgb(255, 64, 129);
}

/* Filter */

.show {
  display: block;
  max-width: 200px;
  transform: scale(1);
}

.hide {
  display: none;
  max-width: 0;
  transform: scale(0);
}

.floating {
  position: absolute;
  background: white !important;
  opacity: 1 !important;
  top: 100%;
}

/* Table */

table {
  width: 100%;
}

.mat-column-id {
  width: 5% !important;
}

.mat-column-value {
  width: 10% !important;
}

.mat-column-description {
  width: 60% !important;
  text-overflow: ellipsis;
}

.mat-row {
  height: auto;
}

.mat-header-cell {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  padding: 5px;
}

.mat-cell {
  padding: 8px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-cell:first-child {
  border-left: 0px solid rgba(0, 0, 0, 0);
}

/* Delete row button */

.description-wrapper {
  display: table;
  width: 100%;
}

.description-container {
  display: table-cell;
  text-align: left;
  width: 99%;
}

.delete-button-container {
  display: table-cell;
  opacity: 0.2;
  vertical-align: middle;
  text-align: right;
  transition: 250ms ease-out 100ms
}

.delete-button-container:hover {
  opacity: 1;
  transition: 250ms ease-out 100ms
}

.delete-button-container:focus-within {
  opacity: 1;
  transition: 250ms ease-out 100ms
}