table {
  width: 100%;
}

.mat-column-include {
  width: 20% !important;
  justify-content: center;
}

.mat-column-name {
  width: 25% !important;
}

.disable-value-button {
  width: 10% !important;
}
