<table mat-table [dataSource]='tableDataSource' matSort>
  <caption class="screen-reader-only">List of Values</caption>
  <ng-container matColumnDef='disable'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true" mat-sort-header matTooltip="Whether to include the value in the table selection"
           matTooltipHideDelay="100" matTooltipPosition="above">Include
      </div>
    </th>
    <td mat-cell *matCellDef='let value'>
      <button mat-icon-button class="disable-value-button" (click)="toggleValueDisable($event, value)">
        <mat-icon *ngIf="value.disable" matTooltip="This value is not available for selection"
                  matTooltipHideDelay="100" matTooltipPosition="above">add
        </mat-icon>
        <mat-icon *ngIf="!value.disable" matTooltip="This value is available for selection"
                  matTooltipHideDelay="100" matTooltipPosition="above">done
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef='name'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true" mat-sort-header matTooltip="The value name" matTooltipHideDelay="100"
           matTooltipPosition="above">Name
      </div>
    </th>
    <td mat-cell *matCellDef='let value'>
      <div class="description-container">
        <textarea matInput cdkTextareaAutosize [(ngModel)]="value.name" placeholder="Name..."
                  (change)="nameChange(value)"></textarea>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef='description'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true" mat-sort-header matTooltip="The value description" matTooltipHideDelay="100"
           matTooltipPosition="above">
        Description
      </div>
    </th>
    <td mat-cell *matCellDef='let value'>
      <div class="description-container">
        <textarea matInput cdkTextareaAutosize [(ngModel)]="value.description"
                  placeholder="Describe the value..." (change)="descriptionChange(value)"></textarea>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button class="add-value-button" (click)="createValue()">
  <mat-icon>add</mat-icon>
  {{type | titlecase}} Value
</button>
