<div class="table-container">
  <ng-scrollbar>
    <table mat-table [dataSource]="tableDataSource" matSort>
      <caption class="screen-reader-only">List of Stakeholders</caption>

      <ng-container matColumnDef='prefixSequenceId'>
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            {{ 'COMMON.TABLE.ID' | translate }}
          </div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <div [innerHTML]="stakeholder.prefixSequenceId | highlightSearch: highlightFilter"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef='name'>
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="20">
          <div mat-sort-header>
            {{ 'COMMON.PROPERTY.NAME' | translate }}
          </div>
        </th>
        <td mat-cell *matCellDef='let stakeholder'>
          <app-highlight-textarea [(text)]="stakeholder.name"
                                  (textChange)="updateStakeholder(stakeholder)"
                                  [highlightFilter]="highlightFilter"
                                  placeholder="{{ 'COMMON.PROPERTY.NAME' | translate }}..."></app-highlight-textarea>
        </td>
      </ng-container>

      <ng-container matColumnDef='level'>
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="20">
          <div mat-sort-header>
            {{ 'COMMON.PROPERTY.STAKEHOLDER.LEVEL' | translate }}
          </div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <app-stakeholder-level [filterText]="highlightFilter"
                                 [(level)]="stakeholder.level"
                                 (levelChange)="updateStakeholder(stakeholder)"></app-stakeholder-level>
        </td>
      </ng-container>

      <ng-container matColumnDef='priority'>
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="20">
          <div mat-sort-header>
            {{ 'COMMON.PROPERTY.STAKEHOLDER.PRIORITY' | translate }}
          </div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <app-stakeholder-priority [(prio)]="stakeholder.priority"
                                    (prioChange)="updateStakeholder(stakeholder)"></app-stakeholder-priority>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            {{ 'COMMON.PROPERTY.DESCRIPTION' | translate }}
          </div>
        </th>
        <td mat-cell *matCellDef='let stakeholder'>
          <app-highlight-textarea [(text)]="stakeholder.description"
                                  (textChange)="updateStakeholder(stakeholder)"
                                  [highlightFilter]="highlightFilter"
                                  placeholder="{{ 'COMMON.PROPERTY.DESCRIPTION' | translate }}..."></app-highlight-textarea>
        </td>
      </ng-container>

      <ng-container matColumnDef="impacted">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          <div mat-sort-header>
            <div matTooltip="{{ 'STAKEHOLDER_TABLE.IMPACTED_TOOLTIP' | translate }}">
              {{ 'STAKEHOLDER_TABLE.IMPACTED' | translate }}
            </div>
          </div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <div class="delete-button-wrapper">
            <div class="impacted-container">
              <app-stakeholder-impacted [stakeholderImpacted]="stakeholder.impacted"></app-stakeholder-impacted>
            </div>
            <div class="delete-button-container">
              <button mat-icon-button
                      matTooltip="{{ 'COMMON.DELETE' | translate }}"
                      [disabled]="stakeholder.deletionFlagged"
                      (click)="deleteStakeholder(stakeholder)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight' : row.highlighted}"></tr>
    </table>

  </ng-scrollbar>

  <app-add-entity-button class="add-entity-button" (clicked)="createStakeholder()"
                         text="{{ 'COMMON.ENTITY.STAKEHOLDER' | translate }}"></app-add-entity-button>
</div>

<app-scroll-to-top-button class="scroll-to-top-button" [windowScrolled]="windowScrolled"
                          (clicked)="scrollToTop()"></app-scroll-to-top-button>
