<div class="table-container">
  <ng-scrollbar>
    <table mat-table [dataSource]="tableDataSource" matSort>
      <caption class="screen-reader-only">List of Stakeholders</caption>

      <ng-container matColumnDef='prefixSequenceId'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="An artificial ID">ID</div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <div [innerHTML]="stakeholder.prefixSequenceId | highlightSearch: highlightFilter"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef='name'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="The stakeholder name">
            Stakeholder
          </div>
        </th>
        <td mat-cell *matCellDef='let stakeholder'>
          <app-mark-textarea [(text)]="stakeholder.name"
                             (textChange)="updateStakeholder(stakeholder)"
                             [highlightFilter]="highlightFilter"
                             [placeholder]="'Stakeholder name...'"></app-mark-textarea>
        </td>
      </ng-container>

      <ng-container matColumnDef='level'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="The stakeholder level">
            Level
          </div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <app-stakeholder-level [filtertext]="highlightFilter"
                                  [(level)]="stakeholder.level"
                                  (levelChange)="updateStakeholder(stakeholder)"></app-stakeholder-level>
        </td>
      </ng-container>

      <ng-container matColumnDef='priority'>
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="The stakeholder priority">
            Priority
          </div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <app-stakeholder-priority [(prio)]="stakeholder.priority"
                                     (prioChange)="updateStakeholder(stakeholder)"></app-stakeholder-priority>
        </td>
      </ng-container>

      <ng-container matColumnDef="impacted">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div matTooltip="How the stakeholder is impacted">
            Impacted
          </div>
        </th>

        <td mat-cell *matCellDef='let stakeholder'>
          <div class="delete-button-wrapper">
            <div class="impacted-container">
              <app-stakeholder-impacted [stakeholderImpacted]="stakeholder.impacted"></app-stakeholder-impacted>
            </div>
            <div class="delete-button-container">
              <button mat-icon-button
                      matTooltip="Delete Stakeholder"
                      [disabled]="stakeholder.deletionFlagged"
                      (click)="deleteStakeholder(stakeholder)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>

      </ng-container>

      <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </ng-scrollbar>

  <app-add-entity-button class="add-entity-button" (clicked)="createStakeholder()"
                         [text]="'Stakeholder'"></app-add-entity-button>
</div>

<app-scroll-to-top-button class="scroll-to-top-button" [windowScrolled]="windowScrolled"
                          (clicked)="scrollToTop()"></app-scroll-to-top-button>
