<div class="stakeholder-level-wrapper">
  <div class="stakeholder-level" (click)="onLevelChange( )">
    <div class="level-gesellschaft" [ngClass]="{'selected-level' : level === 'SOCIETY'}">
      <div class="level-organisation" [ngClass]="{'selected-level' : level === 'ORGANIZATION'}">
        <div class="level-individual" [ngClass]="{'selected-level' : level === 'NATURAL_PERSON'}">

        </div>
      </div>
    </div>

  </div>
  <div class="stakeholder-level-name" *ngIf="showDescription">
    <div
      [innerHTML]="shownlevels[levels.indexOf(level)].value | highlightSearch: filtertext"></div>
  </div>
</div>
