@mixin circle {
  border-start-end-radius: 100%;
  border-end-end-radius: 100%;
  border-start-start-radius: 100%;
  border-end-start-radius: 100%;





}

$size: 3vh;


.stakeholder-level{
  float: right;
  .level-gesellschaft{
    width: $size;
    height: $size;
    background-color: lightblue;
    @include circle;
  }
  .level-organisation{
    width: $size/100*80;
    @include circle;
  }
  .level-individual{
    width: $size/100*60;
    @include circle;
  }
}
