<table mat-table [dataSource]='tableDataSource' matSort>
  <caption class="screen-reader-only">List of Values</caption>

  <ng-container matColumnDef='archived'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true" mat-sort-header matTooltip="Whether to include the value in the table selection">
        Include
      </div>
    </th>
    <td mat-cell *matCellDef='let value'>
      <button mat-icon-button class="archived-value-button" (click)="toggleValueArchived($event, value)">
        <mat-icon *ngIf="value.archived" matTooltip="This value is not available for selection">
          add
        </mat-icon>
        <mat-icon *ngIf="!value.archived" matTooltip="This value is available for selection">
          done
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef='name'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true"
           mat-sort-header
           matTooltip="The value name">
        Name
      </div>
    </th>
    <td mat-cell *matCellDef='let value'>
      <app-mark-textarea [(text)]="value.name"
                         (textChange)="updateValue(value)"
                         [highlightFilter]="''"
                         [placeholder]="'Name...'"></app-mark-textarea>
    </td>
  </ng-container>

  <ng-container matColumnDef='description'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true"
           mat-sort-header
           matTooltip="The value description">
        Description
      </div>
    </th>
    <td mat-cell *matCellDef='let value'>
      <div class="description-wrapper">
        <div class="description-container">
          <app-mark-textarea [(text)]="value.description"
                             (textChange)="updateValue(value)"
                             [highlightFilter]="''"
                             [placeholder]="'Describe the value...'"></app-mark-textarea>
        </div>
        <div class="options">
          <div class="option">
            <button mat-icon-button
                    (click)="deleteValue(value)"
                    matTooltip="Delete Value">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight' : row.id === id}"></tr>
</table>

<button mat-raised-button class="add-button" (click)="createValue()">
  <mat-icon>add</mat-icon>
  {{valueType | titlecase}} Value
</button>
