<div class="stakeholder-level-wrapper">
  <div class="stakeholder-level" (click)="onLevelChange()">
    <div class="level-society"
         [ngClass]="{'selected-level' : level === 'SOCIETY' && editable,
         'selected-level-readonly' : level === 'SOCIETY' && !editable}">
      <div class="level-organization"
           [ngClass]="{'selected-level' : level === 'ORGANIZATION' && editable,
         'selected-level-readonly' : level === 'ORGANIZATION' && !editable}">
        <div class="level-individual"
             [ngClass]="{'selected-level' : level === 'INDIVIDUAL' && editable,
         'selected-level-readonly' : level === 'INDIVIDUAL' && !editable}">

        </div>
      </div>
    </div>

  </div>
  <div class="stakeholder-level-name" *ngIf="showDescription">
    <div *ngIf="stakeholderData.stakeholderLevels != null && stakeholderData.stakeholderLevels.length > 0"
         [innerHTML]="shownLevels[stakeholderData.stakeholderLevels.indexOf(level)].value | highlightSearch: filterText"></div>
  </div>
</div>
