<nav mat-tab-nav-bar mat-align-tabs="left">
  <a mat-tab-link
     *ngFor="let link of links"
     (click)="navigateToTabByName(link.name)"
     [active]="getRouteIsActive(link.path)">
    {{link.translation | translate}}
  </a>
</nav>

<router-outlet name="tabs"></router-outlet>

<div class="current-analysis-info">
  <div class="is-template"
       matTooltip="{{ 'ANALYSIS_EDIT.IS_TEMPLATE' | translate }}"
       matTooltipPosition="below"
       *ngIf="analysisData.currentAnalysis?.isTemplate">
    <mat-icon>sticky_note_2</mat-icon>
  </div>

  <div class="analysis-name">
    {{analysisData.currentAnalysis?.name}}
  </div>
</div>
