p {
  font-size: 80%;
  margin-bottom: 0;
}

mat-list.list-horizontal {
  padding: 0;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  min-height: 48px;

  p {
    font-size: 80%;
  }

  .mat-list-item {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    width: auto;

    .slider {
      margin-top: 15px;
      width: 150px;
    }
  }
}

mat-list.list-vertical {
  padding: 0;

  .mat-list-item {
    margin-right: -10px;
    vertical-align: middle;
    display: inline;

    .dropdown {
      width: 150px;
      margin-bottom: -20px;
      margin-top: 5px;
      margin-right: -10px;
    }
  }
}

#filter-options {
  display: none;
}
