#add-impact-button-div {
  display: inline-block;
  vertical-align: middle;
}

#add-impact-button-div {
  opacity: 0.8;
  vertical-align: middle;
  text-align: right;
  transition: 250ms ease-out 100ms;
}

#add-impact-button-div:focus-within, #add-impact-button-div:hover {
  opacity: 1 !important;
  transition: 250ms ease-out 100ms;
}

#add-impact-text-div {
  margin-left: 1.5vw;
  margin-top: 1vh;
  display: inline-block;
  vertical-align: middle;
  font-size: 150%;
}