.container {
  vertical-align: middle;
}

.add-impact-button-container {
  display: inline-block;
  opacity: 0.8;
  text-align: right;
  transition: 250ms ease-out 100ms;
}

.add-impact-button-container:focus-within, #add-impact-button-container:hover {
  opacity: 1 !important;
  transition: 250ms ease-out 100ms;
}

.add-impact-text-container {
  margin-left: 1.5vw;
  display: inline-block;
  font-size: 150%;
}