<table mat-table [dataSource]='tableDataSource' matSort>
  <caption class="screen-reader-only">List of Variants</caption>

  <ng-container matColumnDef='name'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true"
           mat-sort-header
           matTooltip="The value name">
        Name
      </div>
    </th>
    <td mat-cell *matCellDef='let variant'>
      <app-mark-textarea [(text)]="variant.name"
                         (textChange)="updateVariant(variant)"
                         [highlightFilter]="''"
                         [placeholder]="'Name...'"></app-mark-textarea>
    </td>
  </ng-container>

  <ng-container matColumnDef='description'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div [hidden]="true"
           mat-sort-header
           matTooltip="The value description">
        Description
      </div>
    </th>
    <td mat-cell *matCellDef='let variant'>
      <div class="description-wrapper">
        <div class="description-container">
          <app-mark-textarea [(text)]="variant.description"
                             (textChange)="updateVariant(variant)"
                             [highlightFilter]="''"
                             [placeholder]="'Describe the variant...'"></app-mark-textarea>
        </div>
        <div class="options">
          <div class="option">
            <button
              *ngIf="!variant.archived"
              mat-icon-button
              name="archive"
              (click)="variant.archived=true; updateVariant(variant)"
              matTooltip="Archive Variant">
              <mat-icon>archive</mat-icon>
            </button>
          </div>
          <div class="option">
            <button
              *ngIf="variant.archived"
              mat-icon-button
              name="unarchive"
              (click)="variant.archived=false; updateVariant(variant)"
              matTooltip="Un-archive Variant">
              <mat-icon>unarchive</mat-icon>
            </button>
          </div>
          <div class="option">
            <button
              *ngIf="variant.archived"
              mat-icon-button
              name="delete"
              [disabled]="variant.deletionFlagged"
              (click)="deleteVariant(variant)"
              matTooltip="Delete Variant">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight' : archivedVariantReferenced(row)}"></tr>
</table>

<button *ngIf="!archived"
        mat-raised-button
        class="add-button"
        (click)="createVariant()">
  <mat-icon>add</mat-icon>
  Variant
</button>
