<div class="level-wrapper">
  <div class="prio-level" id="1" (click)="updatePrio(1, $event)" [ngClass]="{'prio-level-show' : prio >= 1}">
  </div>

  <div class="prio-level" id="2" (click)="updatePrio(2, $event)" [ngClass]="{'prio-level-show' : prio >= 2}">
  </div>

  <div class="prio-level" id="3" (click)="updatePrio(3, $event)" [ngClass]="{'prio-level-show' : prio >= 3}">
  </div>

  <div class="prio-level" id="4" (click)="updatePrio(4, $event)" [ngClass]="{'prio-level-show' :prio >= 4}">
  </div>


</div>
