<div class="table-container">
  <ng-scrollbar [track]="'all'">
    <table mat-table [dataSource]="tableDataSource" matSort>
      <caption class="screen-reader-only">List of Requirements</caption>

      <ng-container matColumnDef="prefixSequenceId">
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            <div matTooltip="An artificial ID">
              ID
            </div>
          </div>
        </th>

        <td mat-cell *matCellDef='let requirement'>
          <div [innerHTML]="requirement.prefixSequenceId | highlightSearch: highlightFilter"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            <div matTooltip="The requirement description">
              Requirement
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef='let requirement'>
          <app-highlight-textarea [(text)]="requirement.description"
                                  (textChange)="updateRequirement(requirement)"
                                  [highlightFilter]="highlightFilter"
                                  [placeholder]="'Describe the requirement...'"></app-highlight-textarea>
        </td>
      </ng-container>

      <ng-container matColumnDef="variants">
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            <div matTooltip="The affected variants">
              Variants
            </div>
          </div>
          <mat-icon id="variant-modal"
                    (click)="$event.stopPropagation(); openVariantsDialog();"
                    [matTooltip]="'Edit the available variants'">edit
          </mat-icon>
        </th>

        <td mat-cell *matCellDef='let requirement'
            [ngClass]="{'references-archived' : referencesArchivedVariant(requirement)}">
          <mat-form-field class="dropdown-reference">
            <!-- TODO disable animation of placeholder (like in filter category component) -->
            <mat-select [(ngModel)]="requirement.variants"
                        (selectionChange)="updateRequirement(requirement)"
                        [matTooltip]="getVariantNamesOfRequirement(requirement)"
                        [placeholder]="requirement.variants.length === 0 ? 'All' : ''"
                        multiple>
              <mat-select-trigger>
                <div
                  [innerHTML]="getVariantNamesOfRequirement(requirement) | highlightSearch: highlightFilter">
                </div>
              </mat-select-trigger>
              <ng-container *ngFor="let variant of variantDataService.variants">
                <mat-option [ngClass]="{'archived-variant-checkbox':variant.archived}"
                            *ngIf="!variant.archived || requirement.variants.includes(variant)"
                            [value]="variant">
                  {{variant.name}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button
                  *ngIf="referencesArchivedVariant(requirement)"
                  class="warning-icon-button"
                  (click)="openVariantsDialog(getReferencedArchivedVariantIds(requirement))"
                  matTooltip="This requirement references an archived variant"
                  matTooltipClass="multi-line-tooltip">
            <mat-icon>warning icon</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="values">
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            <div matTooltip="The affected values">
              Values
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef='let requirement'>
          <div [innerHTML]="getAffectedValues(requirement).join(', ') | highlightSearch: highlightFilter">
          </div>
        </td>
      </ng-container>

      <ng-container *ngFor="let impact of impactDataService.impacts" matColumnDef="{{impact.prefixSequenceId}}">
        <th scope="col" mat-header-cell *matHeaderCellDef [resizeColumn]="true" [resizeColumnOffset]="33">
          <div mat-sort-header>
            <div class="mat-column-impact"
                 matTooltip="{{impact.description + '&#13;' + 'Stakeholder: ' + impact.stakeholder.name + '&#13;' + 'Value: ' + impact.value.name}}"
                 matTooltipClass="multi-line-tooltip">
              {{impact.prefixSequenceId}}
            </div>
          </div>
        </th>

        <td class="delta-cell"
            [ngClass]="{'highlight': getRequirementDelta(requirement, impact)?.highlighted}"
            mat-cell *matCellDef="let requirement"
            (dblclick)="showDeltaSliderIfExistsElseCreate(requirement, impact)"
            (mouseenter)="deltaMouseEnter(requirement,impact)"
            (mouseleave)="deltaMouseLeave(requirement,impact)">
          <div class="delta-cell-div" *ngVar="getRequirementDelta(requirement, impact) as delta"
               [ngStyle]="{'background-color': delta?.meritColorCode}">
            <div class="delta-slider-div" *ngIf="delta?.visible">
              <app-impact-slider [isRisk]="!impact.isGoal"
                                 [isGoal]="impact.isGoal"
                                 [minvalue]="delta.minOverwriteMerit"
                                 [maxvalue]="delta.maxOverwriteMerit"
                                 [(value)]="delta.overwriteMerit"
                                 (sliderValueChange)="updateRequirementDelta(delta)">
              </app-impact-slider>
            </div>

            <div class="delete-delta-button"
                 [@inOutAnimation]
                 *ngIf="delta?.hover && !delta?.visible">
              <button mat-icon-button
                      [disabled]="delta.deletionFlagged"
                      (click)="deleteRequirementDelta(delta)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete-button" stickyEnd>
        <th scope="col" mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef='let requirement'>
          <div class="delete-button-container">
            <button mat-icon-button
                    [disabled]="requirement.deletionFlagged"
                    (click)="deleteRequirement(requirement)"
                    matTooltip="Delete Requirement">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (mouseleave)="hideDeltaSliders(row)"
          (focusout)="hideDeltaSliders(row)"
          [ngClass]="{'highlight' : row.highlighted}"></tr>
    </table>
  </ng-scrollbar>

  <app-add-entity-button class="add-entity-button" (clicked)="createRequirement()"
                         [text]="'Requirement'"></app-add-entity-button>
</div>

<app-scroll-to-top-button class="scroll-to-top-button" [windowScrolled]="windowScrolled"
                          (clicked)="scrollToTop()"></app-scroll-to-top-button>
