@import '../../../styles';

@include misc-theme();
@include main-table-theme();

.mat-column-prefixSequenceId {
  min-width: 80px;
}

.mat-column-description {
  min-width: 250px;
  text-overflow: ellipsis;
}

.mat-column-variants {
  min-width: 200px;
}

.mat-column-values {
  min-width: 100px;
  //width: 100px;
  text-overflow: ellipsis;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  white-space: normal;
}

.mat-column-impact {
  min-width: 50px;
}

.mat-column-delete-button {
  min-width: 50px;
}

.mat-row {
  height: 80px;
}

.mat-cell {
  padding: 8px;
}

#variant-modal {
  margin-left: 5%;
}

.impact-slider-container {
  margin-top: 2%;
}

.value-percentage {
  text-align: center;
  margin-top: 5%;
  margin-bottom: -5%;
}

.delta-cell {
  height: 100%;
  position: relative;
}

.delta-cell-div {
  display: table;
  height: 80%;
  width: 100%;
}

.delta-slider-div {
  display: table-cell;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

.delete-delta-button {
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.archived-variant-checkbox {
  background-color: orange;
}
