#search-description-div {
  margin: 30px;
  margin-left: 45px;
}

#impact-table-div {
  margin: 25px;
  height: 600px;
  overflow: auto;
}

#add-impact-button-div {
  position: fixed;
  left: 30px;
  bottom: 80px;
  height: 30px;
  width: 100%;
}