<div id="search-description-div">
  <input matInput placeholder="Search...">
</div>

<div class="scroll-to-top" [hidden]="!windowScrolled" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button type="button" mat-fab (click)="scrollToTop()" matTooltip="Scroll to Top" matTooltipHideDelay="100"
    matTooltipPosition="above">
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>

<div id="impact-table-div">
  <ng-scrollbar>
    <app-impact-table></app-impact-table>
  </ng-scrollbar>
</div>

<div id="add-impact-button-div">
  <app-add-impact-button (buttonClick)="addImpact()"> </app-add-impact-button>
</div>