#search-description-div {
  margin: 30px;
  margin-left: 45px;
}

#impact-table-div {
  margin: 25px;
  height: calc(100vh - 350px);
  overflow-y: scroll;
}

#add-impact-button-div {
  position: fixed;
  left: 30px;
  bottom: 80px;
  height: 30px;
  width: 100%;
}

.scroll-to-top {
  position: fixed;
  top: 150px;
  right: 25px;
  opacity: 0;
  transition: all .2s ease-in-out;
 }
 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
 }