.container {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 60vh;

  .impact-table-filter-bar-container {
    margin: 2%;
    margin-left: 3%;
    flex: 0 1 auto;
  }

  .impact-table-container {
    margin-left: 5%;
    margin-right: 3%;
    flex: 1 1 auto;
  }
}
