.container {
  height: 100%;
  overflow: hidden;
}

.search-bar-container {
  margin-top: 3%;
  margin-left: 5%;
}

.impact-table-container {
  margin: 1%;
  margin-left: 5%;
  height: calc(80vh - 150px);
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;

  .impact-table-filter-bar-container {
    flex: 0 1 auto;
  }

  .impact-table-container {
    flex: 1 1 auto;
  }
}
