<table mat-table [dataSource]='dimensions' matSort>
  <caption class="screen-reader-only">List of Dimensions</caption>

  <ng-container matColumnDef='name'>
    <th scope="col" mat-header-cell *matHeaderCellDef>
      <div mat-sort-header matTooltip="An artificial ID" matTooltipHideDelay="100" matTooltipPosition="above">Name</div>
    </th>
    <td mat-cell *matCellDef='let dimension'>
      <div class="description-container">
        <textarea matInput cdkTextareaAutosize [(ngModel)]="dimension.description" placeholder="Name..."></textarea>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef='description'>
    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>
      <div matTooltip="The dimension description" matTooltipHideDelay="100" matTooltipPosition="above">
        Description</div>
    </th>
    <td mat-cell *matCellDef='let dimension'>
      <div class="description-container">
        <textarea matInput cdkTextareaAutosize [(ngModel)]="dimension.description"
          placeholder="Describe the dimension..."></textarea>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row [style.min-height]="0" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>